# List of Exposures with Flats


- work with Weakly_2023_01
- use jupyter kernel LSST
- run at USDF


- author : Sylvie Dagoret-Campagne
- affiliation : IJCLab
- creation date : 2022/09/19
- update: 2023/03/27

In [1]:
! eups list -s | grep LOCAL

atmospec              LOCAL:/home/d/dagoret/repos/repos_w_2023_01/atmospec 	setup
eups                  LOCAL:/opt/lsst/software/stack/conda/miniconda3-py38_4.9.2/envs/lsst-scipipe-5.1.0/eups 	setup
spectractor           LOCAL:/home/d/dagoret/repos/repos_w_2023_01/Spectractor 	setup

In [2]:
! echo $IMAGE_DESCRIPTION
! eups list -s lsst_distrib

Weekly 2023_08
   gdf42428520+785af55281 	current w_2023_08 setup

In [3]:
import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline
from matplotlib.colors import LogNorm

from mpl_toolkits.axes_grid1 import make_axes_locatable

import matplotlib.ticker                         # here's where the formatter is
from matplotlib.ticker import (MultipleLocator, FormatStrFormatter,
                               AutoMinorLocator)

from astropy.io import fits
from astropy.time import Time

In [4]:
import lsst.afw.display as afwDisplay
afwDisplay.setDefaultBackend('matplotlib')

In [5]:
import lsst.daf.butler as dafButler

In [6]:
#repo = "/sdf/group/rubin/repo/main"
repo="/sdf/group/rubin/repo/oga/"


butler = dafButler.Butler(repo)
registry = butler.registry

## List of Exposures

In [7]:
df_exposure = pd.DataFrame(columns=['id', 'obs_id','day_obs', 'seq_num','time_start','time_end' ,'type', 'target','filter','zenith_angle','expos','ra','dec','skyangle','science_program','jd','mjd'])

In [8]:
for count, info in enumerate(registry.queryDimensionRecords('exposure',where= "instrument='LATISS'")):
    
    df_exposure.loc[count] = [info.id, info.obs_id, info.day_obs, info.seq_num,pd.to_datetime(info.timespan.begin.to_string()),pd.to_datetime(info.timespan.end.to_string()) ,info.observation_type, info.target_name, info.physical_filter, info.zenith_angle, \
                             info.exposure_time,info.tracking_ra, info.tracking_dec, info.sky_angle, info.science_program,
                             info.timespan.begin.jd,info.timespan.begin.mjd ]
    
    if count < 2:
        print("-----------------------------------------------------",count,"---------------------------------------------------------")
        print(info)
        print("\t id:                  ",info.id)
        print("\t day_obs:             ",info.day_obs)
        print("\t seq_num:             ",info.seq_num)
        print("\t type-of-observation: ",info.observation_type)
        print("\t target:              ",info.target_name)
        
        mjd = Time(info.timespan.begin.to_string()).mjd
        jd = Time(info.timespan.begin.to_string()).jd
        print(mjd,jd)

----------------------------------------------------- 0 ---------------------------------------------------------
exposure:
  instrument: 'LATISS'
  id: 2022083100004
  physical_filter: 'unknown~unknown'
  obs_id: 'AT_O_20220831_000004'
  exposure_time: 0.0
  dark_time: 0.0160482
  observation_type: 'bias'
  observation_reason: 'bias'
  day_obs: 20220831
  seq_num: 4
  seq_start: 4
  seq_end: 4
  group_name: '2022083100004'
  group_id: 2022083100004
  target_name: 'UNKNOWN'
  science_program: 'unknown'
  tracking_ra: None
  tracking_dec: None
  sky_angle: None
  azimuth: None
  zenith_angle: None
  has_simulated: False
  timespan: Timespan(begin=astropy.time.Time('2022-08-31 22:58:13.633984', scale='tai', format='iso'), end=astropy.time.Time('2022-08-31 22:58:13.650000', scale='tai', format='iso'))
	 id:                   2022083100004
	 day_obs:              20220831
	 seq_num:              4
	 type-of-observation:  bias
	 target:               UNKNOWN
59822.957102245186 2459823.457102245
----------------------------------------------------- 1 ---------------------------------------------------------
exposure:
  instrument: 'LATISS'
  id: 2022083100008
  physical_filter: 'unknown~unknown'
  obs_id: 'AT_O_20220831_000008'
  exposure_time: 0.0
  dark_time: 0.0111244
  observation_type: 'bias'
  observation_reason: 'bias'
  day_obs: 20220831
  seq_num: 8
  seq_start: 8
  seq_end: 8
  group_name: '2022083100008'
  group_id: 2022083100008
  target_name: 'UNKNOWN'
  science_program: 'unknown'
  tracking_ra: None
  tracking_dec: None
  sky_angle: None
  azimuth: None
  zenith_angle: None
  has_simulated: False
  timespan: Timespan(begin=astropy.time.Time('2022-08-31 22:59:16.387013', scale='tai', format='iso'), end=astropy.time.Time('2022-08-31 22:59:16.398000', scale='tai', format='iso'))
	 id:                   2022083100008
	 day_obs:              20220831
	 seq_num:              8
	 type-of-observation:  bias
	 target:               UNKNOWN
59822.95782855339 2459823.4578285534

In [9]:
df_exposure

,id,obs_id,day_obs,seq_num,time_start,time_end,type,target,filter,zenith_angle,expos,ra,dec,skyangle,science_program,jd,mjd
0,2022083100004,AT_O_20220831_000004,20220831,4,2022-08-31 22:58:13.633984,2022-08-31 22:58:13.650,bias,UNKNOWN,unknown~unknown,NaN,0.0,NaN,NaN,NaN,unknown,2.459823e+06,59822.957102
1,2022083100008,AT_O_20220831_000008,20220831,8,2022-08-31 22:59:16.387013,2022-08-31 22:59:16.398,bias,UNKNOWN,unknown~unknown,NaN,0.0,NaN,NaN,NaN,unknown,2.459823e+06,59822.957829
2,2022083100007,AT_O_20220831_000007,20220831,7,2022-08-31 22:59:11.978990,2022-08-31 22:59:11.991,bias,UNKNOWN,unknown~unknown,NaN,0.0,NaN,NaN,NaN,unknown,2.459823e+06,59822.957778
3,2022083100009,AT_O_20220831_000009,20220831,9,2022-08-31 22:59:20.801996,2022-08-31 22:59:20.813,bias,UNKNOWN,unknown~unknown,NaN,0.0,NaN,NaN,NaN,unknown,2.459823e+06,59822.957880
4,2022083100012,AT_O_20220831_000012,20220831,12,2022-08-31 23:00:00.113994,2022-08-31 23:00:03.124,dark,UNKNOWN,unknown~unknown,NaN,3.0,NaN,NaN,NaN,unknown,2.459823e+06,59822.958335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43518,2023032100308,AT_O_20230321_000308,20230321,308,2023-03-21 17:27:30.192994,2023-03-21 17:27:40.033,flat,FlatField position,empty~empty,51.287659,9.6,None,None,None,unknown,2.460025e+06,60024.727433
43519,2023032100309,AT_O_20230321_000309,20230321,309,2023-03-21 17:27:42.520990,2023-03-21 17:27:52.545,flat,FlatField position,empty~empty,51.287615,9.8,None,None,None,unknown,2.460025e+06,60024.727575
43520,2023032100310,AT_O_20230321_000310,20230321,310,2023-03-21 17:27:55.053008,2023-03-21 17:28:05.092,flat,FlatField position,empty~empty,51.287564,9.8,None,None,None,unknown,2.460025e+06,60024.727721
43521,2023032100311,AT_O_20230321_000311,20230321,311,2023-03-21 17:28:07.577020,2023-03-21 17:28:17.833,flat,FlatField position,empty~empty,51.287519,10.0,None,None,None,unknown,2.460025e+06,60024.727865
43522,2023032100312,AT_O_20230321_000312,20230321,312,2023-03-21 17:28:20.319980,2023-03-21 17:28:30.566,flat,FlatField position,empty~empty,51.287475,10.0,None,None,None,unknown,2.460025e+06,60024.728013

## Selection of Flats

In [10]:
df_flat = df_exposure[df_exposure.type == 'flat']

In [11]:
df_flat.sort_values(by="id",ascending=True,inplace=True)

/tmp/ipykernel_8688/2352331422.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_flat.sort_values(by="id",ascending=True,inplace=True)

In [12]:
df_flat.tail(60)

,id,obs_id,day_obs,seq_num,time_start,time_end,type,target,filter,zenith_angle,expos,ra,dec,skyangle,science_program,jd,mjd
43463,2023032100253,AT_O_20230321_000253,20230321,253,2023-03-21 17:18:43.571992,2023-03-21 17:18:48.022,flat,FlatField position,empty~empty,51.289507,4.2,None,None,None,unknown,2.460025e+06,60024.721338
43464,2023032100254,AT_O_20230321_000254,20230321,254,2023-03-21 17:18:50.508989,2023-03-21 17:18:54.942,flat,FlatField position,empty~empty,51.289483,4.2,None,None,None,unknown,2.460025e+06,60024.721418
43465,2023032100255,AT_O_20230321_000255,20230321,255,2023-03-21 17:18:57.429008,2023-03-21 17:19:02.069,flat,FlatField position,empty~empty,51.289466,4.4,None,None,None,unknown,2.460025e+06,60024.721498
43466,2023032100256,AT_O_20230321_000256,20230321,256,2023-03-21 17:19:04.554015,2023-03-21 17:19:09.193,flat,FlatField position,empty~empty,51.289442,4.4,None,None,None,unknown,2.460025e+06,60024.721580
43467,2023032100257,AT_O_20230321_000257,20230321,257,2023-03-21 17:19:11.678015,2023-03-21 17:19:16.523,flat,FlatField position,empty~empty,51.289415,4.6,None,None,None,unknown,2.460025e+06,60024.721663
43468,2023032100258,AT_O_20230321_000258,20230321,258,2023-03-21 17:19:19.009016,2023-03-21 17:19:23.845,flat,FlatField position,empty~empty,51.289387,4.6,None,None,None,unknown,2.460025e+06,60024.721748
43469,2023032100259,AT_O_20230321_000259,20230321,259,2023-03-21 17:19:26.332009,2023-03-21 17:19:31.362,flat,FlatField position,empty~empty,51.289363,4.8,None,None,None,unknown,2.460025e+06,60024.721833
43470,2023032100260,AT_O_20230321_000260,20230321,260,2023-03-21 17:19:33.848002,2023-03-21 17:19:38.886,flat,FlatField position,empty~empty,51.289333,4.8,None,None,None,unknown,2.460025e+06,60024.721920
43471,2023032100261,AT_O_20230321_000261,20230321,261,2023-03-21 17:19:41.370994,2023-03-21 17:19:46.596,flat,FlatField position,empty~empty,51.289315,5.0,None,None,None,unknown,2.460025e+06,60024.722007
43472,2023032100262,AT_O_20230321_000262,20230321,262,2023-03-21 17:19:49.083003,2023-03-21 17:19:54.324,flat,FlatField position,empty~empty,51.289285,5.0,None,None,None,unknown,2.460025e+06,60024.722096
43473,2023032100263,AT_O_20230321_000263,20230321,263,2023-03-21 17:19:56.809012,2023-03-21 17:20:02.247,flat,FlatField position,empty~empty,51.289257,5.2,None,None,None,unknown,2.460025e+06,60024.722185
43474,2023032100264,AT_O_20230321_000264,20230321,264,2023-03-21 17:20:04.733008,2023-03-21 17:20:10.172,flat,FlatField position,empty~empty,51.28923,5.2,None,None,None,unknown,2.460025e+06,60024.722277
43475,2023032100265,AT_O_20230321_000265,20230321,265,2023-03-21 17:20:12.657005,2023-03-21 17:20:18.293,flat,FlatField position,empty~empty,51.289206,5.4,None,None,None,unknown,2.460025e+06,60024.722369
43476,2023032100266,AT_O_20230321_000266,20230321,266,2023-03-21 17:20:20.777982,2023-03-21 17:20:26.413,flat,FlatField position,empty~empty,51.289175,5.4,None,None,None,unknown,2.460025e+06,60024.722463
43477,2023032100267,AT_O_20230321_000267,20230321,267,2023-03-21 17:20:28.895018,2023-03-21 17:20:34.730,flat,FlatField position,empty~empty,51.289148,5.6,None,None,None,unknown,2.460025e+06,60024.722557
43478,2023032100268,AT_O_20230321_000268,20230321,268,2023-03-21 17:20:37.214988,2023-03-21 17:20:43.051,flat,FlatField position,empty~empty,51.289117,5.6,None,None,None,unknown,2.460025e+06,60024.722653
43479,2023032100269,AT_O_20230321_000269,20230321,269,2023-03-21 17:20:45.533994,2023-03-21 17:20:51.562,flat,FlatField position,empty~empty,51.289094,5.8,None,None,None,unknown,2.460025e+06,60024.722749
43480,2023032100270,AT_O_20230321_000270,20230321,270,2023-03-21 17:20:54.051992,2023-03-21 17:21:00.096,flat,FlatField position,empty~empty,51.289063,5.8,None,None,None,unknown,2.460025e+06,60024.722848
43481,2023032100271,AT_O_20230321_000271,20230321,271,2023-03-21 17:21:02.583992,2023-03-21 17:21:08.826,flat,FlatField position,empty~empty,51.289032,6.0,None,None,None,unknown,2.460025e+06,60024.722947
43482,2023032100272,AT_O_20230321_000272,20230321,272,2023-03-21 17:21:11.312007,2023-03-21 17:21:17.550,flat,FlatField position,empty~empty,51.289005,6.0,None,None,None,unknown,2.460025e+06,60024.723048
43483,2023032100273,AT_O_20230321_000273,20230321,273,2023-03-21 17:21:20.052012,2023-03-21 17:21:26.477,flat,FlatField position,empty~empty,51.288971,6.2,None,None,None,unknown,2.460025e+06,60024.723149
43484,2023032100274,AT_O_20230321_000274,20230321,274,2023-03-21 17:21:28.963008,2023-03-21 17:21:35.405,flat,FlatField position,empty~empty,51.28894,6.2,None,None,None,unknown,2.460025e+06,60024.723252
43485,2023032100275,AT_O_20230321_000275,20230321,275,2023-03-21 17:21:37.890016,2023-03-21 17:21:44.524,flat,FlatField position,empty~empty,51.288913,6.4,None,None,None,unknown,2.460025e+06,60024.723355
43486,2023032100276,AT_O_20230321_000276,20230321,276,2023-03-21 17:21:47.010989,2023-03-21 17:21:53.646,flat,FlatField position,empty~empty,51.288882,6.4,None,None,None,unknown,2.460025e+06,60024.723461
43487,2023032100277,AT_O_20230321_000277,20230321,277,2023-03-21 17:21:56.130996,2023-03-21 17:22:02.973,flat,FlatField position,empty~empty,51.288851,6.6,None,None,None,unknown,2.460025e+06,60024.723566
43488,2023032100278,AT_O_20230321_000278,20230321,278,2023-03-21 17:22:05.461020,2023-03-21 17:22:12.306,flat,FlatField position,empty~empty,51.288817,6.6,None,None,None,unknown,2.460025e+06,60024.723674
43489,2023032100279,AT_O_20230321_000279,20230321,279,2023-03-21 17:22:14.800981,2023-03-21 17:22:21.842,flat,FlatField position,empty~empty,51.288783,6.8,None,None,None,unknown,2.460025e+06,60024.723782
43490,2023032100280,AT_O_20230321_000280,20230321,280,2023-03-21 17:22:24.329998,2023-03-21 17:22:31.377,flat,FlatField position,empty~empty,51.288752,6.8,None,None,None,unknown,2.460025e+06,60024.723893
43491,2023032100281,AT_O_20230321_000281,20230321,281,2023-03-21 17:22:33.864004,2023-03-21 17:22:41.097,flat,FlatField position,empty~empty,51.288718,7.0,None,None,None,unknown,2.460025e+06,60024.724003
43492,2023032100282,AT_O_20230321_000282,20230321,282,2023-03-21 17:22:43.580990,2023-03-21 17:22:50.829,flat,FlatField position,empty~empty,51.288684,7.0,None,None,None,unknown,2.460025e+06,60024.724116
43493,2023032100283,AT_O_20230321_000283,20230321,283,2023-03-21 17:22:53.314995,2023-03-21 17:23:00.746,flat,FlatField position,empty~empty,51.288653,7.2,None,None,None,unknown,2.460025e+06,60024.724228
43494,2023032100284,AT_O_20230321_000284,20230321,284,2023-03-21 17:23:03.231014,2023-03-21 17:23:10.671,flat,FlatField position,empty~empty,51.288612,7.2,None,None,None,unknown,2.460025e+06,60024.724343
43495,2023032100285,AT_O_20230321_000285,20230321,285,2023-03-21 17:23:13.158017,2023-03-21 17:23:20.798,flat,FlatField position,empty~empty,51.288578,7.4,None,None,None,unknown,2.460025e+06,60024.724458
43496,2023032100286,AT_O_20230321_000286,20230321,286,2023-03-21 17:23:23.283007,2023-03-21 17:23:30.924,flat,FlatField position,empty~empty,51.288547,7.4,None,None,None,unknown,2.460025e+06,60024.724575
43497,2023032100287,AT_O_20230321_000287,20230321,287,2023-03-21 17:23:33.411981,2023-03-21 17:23:41.239,flat,FlatField position,empty~empty,51.288506,7.6,None,None,None,unknown,2.460025e+06,60024.724692
43498,2023032100288,AT_O_20230321_000288,20230321,288,2023-03-21 17:23:43.724015,2023-03-21 17:23:51.565,flat,FlatField position,empty~empty,51.288472,7.6,None,None,None,unknown,2.460025e+06,60024.724812
43499,2023032100289,AT_O_20230321_000289,20230321,289,2023-03-21 17:23:54.052987,2023-03-21 17:24:02.085,flat,FlatField position,empty~empty,51.288431,7.8,None,None,None,unknown,2.460025e+06,60024.724931
43500,2023032100290,AT_O_20230321_000290,20230321,290,2023-03-21 17:24:04.571981,2023-03-21 17:24:12.622,flat,FlatField position,empty~empty,51.288397,7.8,None,None,None,unknown,2.460025e+06,60024.725053
43501,2023032100291,AT_O_20230321_000291,20230321,291,2023-03-21 17:24:15.103004,2023-03-21 17:24:23.340,flat,FlatField position,empty~empty,51.288363,8.0,None,None,None,unknown,2.460025e+06,60024.725175
43502,2023032100292,AT_O_20230321_000292,20230321,292,2023-03-21 17:24:25.824008,2023-03-21 17:24:34.057,flat,FlatField position,empty~empty,51.288322,8.0,None,None,None,unknown,2.460025e+06,60024.725299
43503,2023032100293,AT_O_20230321_000293,20230321,293,2023-03-21 17:24:36.540989,2023-03-21 17:24:44.968,flat,FlatField position,empty~empty,51.288288,8.2,None,None,None,unknown,2.460025e+06,60024.725423
43504,2023032100294,AT_O_20230321_000294,20230321,294,2023-03-21 17:24:47.454991,2023-03-21 17:24:55.894,flat,FlatField position,empty~empty,51.288247,8.2,None,None,None,unknown,2.460025e+06,60024.725549
43505,2023032100295,AT_O_20230321_000295,20230321,295,2023-03-21 17:24:58.380983,2023-03-21 17:25:07.007,flat,FlatField position,empty~empty,51.288206,8.4,None,None,None,unknown,2.460025e+06,60024.725676
43506,2023032100296,AT_O_20230321_000296,20230321,296,2023-03-21 17:25:09.492007,2023-03-21 17:25:18.133,flat,FlatField position,empty~empty,51.288168,8.4,None,None,None,unknown,2.460025e+06,60024.725804
43507,2023032100297,AT_O_20230321_000297,20230321,297,2023-03-21 17:25:20.616992,2023-03-21 17:25:29.456,flat,FlatField position,empty~empty,51.28813,8.6,None,None,None,unknown,2.460025e+06,60024.725933
43508,2023032100298,AT_O_20230321_000298,20230321,298,2023-03-21 17:25:31.941010,2023-03-21 17:25:40.785,flat,FlatField position,empty~empty,51.288086,8.6,None,None,None,unknown,2.460025e+06,60024.726064
43509,2023032100299,AT_O_20230321_000299,20230321,299,2023-03-21 17:25:43.270017,2023-03-21 17:25:52.305,flat,FlatField position,empty~empty,51.288042,8.8,None,None,None,unknown,2.460025e+06,60024.726195
43510,2023032100300,AT_O_20230321_000300,20230321,300,2023-03-21 17:25:54.786994,2023-03-21 17:26:03.826,flat,FlatField position,empty~empty,51.288001,8.8,None,None,None,unknown,2.460025e+06,60024.726329
43511,2023032100301,AT_O_20230321_000301,20230321,301,2023-03-21 17:26:06.311011,2023-03-21 17:26:15.540,flat,FlatField position,empty~empty,51.28796,9.0,None,None,None,unknown,2.460025e+06,60024.726462
43512,2023032100302,AT_O_20230321_000302,20230321,302,2023-03-21 17:26:18.028992,2023-03-21 17:26:27.273,flat,FlatField position,empty~empty,51.287915,9.0,None,None,None,unknown,2.460025e+06,60024.726598
43513,2023032100303,AT_O_20230321_000303,20230321,303,2023-03-21 17:26:29.761014,2023-03-21 17:26:39.195,flat,FlatField position,empty~empty,51.287874,9.2,None,None,None,unknown,2.460025e+06,60024.726733
43514,2023032100304,AT_O_20230321_000304,20230321,304,2023-03-21 17:26:41.678994,2023-03-21 17:26:51.127,flat,FlatField position,empty~empty,51.28783,9.2,None,None,None,unknown,2.460025e+06,60024.726871
43515,2023032100305,AT_O_20230321_000305,20230321,305,2023-03-21 17:26:53.613993,2023-03-21 17:27:03.255,flat,FlatField position,empty~empty,51.287789,9.4,None,None,None,unknown,2.460025e+06,60024.727009
43516,2023032100306,AT_O_20230321_000306,20230321,306,2023-03-21 17:27:05.740018,2023-03-21 17:27:15.385,flat,FlatField position,empty~empty,51.287738,9.4,None,None,None,unknown,2.460025e+06,60024.727150
43517,2023032100307,AT_O_20230321_000307,20230321,307,2023-03-21 17:27:17.868981,2023-03-21 17:27:27.707,flat,FlatField position,empty~empty,51.2877,9.6,None,None,None,unknown,2.460025e+06,60024.727290
43518,2023032100308,AT_O_20230321_000308,20230321,308,2023-03-21 17:27:30.192994,2023-03-21 17:27:40.033,flat,FlatField position,empty~empty,51.287659,9.6,None,None,None,unknown,2.460025e+06,60024.727433
43519,2023032100309,AT_O_20230321_000309,20230321,309,2023-03-21 17:27:42.520990,2023-03-21 17:27:52.545,flat,FlatField position,empty~empty,51.287615,9.8,None,None,None,unknown,2.460025e+06,60024.727575
43520,2023032100310,AT_O_20230321_000310,20230321,310,2023-03-21 17:27:55.053008,2023-03-21 17:28:05.092,flat,FlatField position,empty~empty,51.287564,9.8,None,None,None,unknown,2.460025e+06,60024.727721
43521,2023032100311,AT_O_20230321_000311,20230321,311,2023-03-21 17:28:07.577020,2023-03-21 17:28:17.833,flat,FlatField position,empty~empty,51.287519,10.0,None,None,None,unknown,2.460025e+06,60024.727865
43522,2023032100312,AT_O_20230321_000312,20230321,312,2023-03-21 17:28:20.319980,2023-03-21 17:28:30.566,flat,FlatField position,empty~empty,51.287475,10.0,None,None,None,unknown,2.460025e+06,60024.728013

# List of dates with flats

In [15]:
ListOfDates = df_flat.day_obs.unique()
ListOfDates

array([20220902, 20220907, 20220908, 20220912, 20220913, 20220914,
       20220922, 20220923, 20220927, 20220928, 20220929, 20221004,
       20221005, 20221007, 20221011, 20221012, 20221013, 20221025,
       20221026, 20221027, 20221103, 20221104, 20221108, 20221109,
       20221110, 20221122, 20221123, 20221124, 20221209, 20221211,
       20221212, 20230110, 20230112, 20230116, 20230117, 20230118,
       20230119, 20230127, 20230131, 20230201, 20230202, 20230207,
       20230209, 20230214, 20230215, 20230216, 20230301, 20230311,
       20230314, 20230321])

# List of date with filters

In [16]:
for date_sel in ListOfDates:
    
    # get for that date
    df_flat_selected = df_flat[df_flat.day_obs == date_sel ]
    N = len(df_flat_selected)
    list_of_filters = df_flat_selected['filter'].unique()
    print(date_sel," ",list_of_filters)

20220902   ['unknown~unknown']
20220907   ['FELH0600~empty']
20220908   ['FELH0600~empty' 'SDSSr~empty']
20220912   ['SDSSr~empty' 'empty~empty']
20220913   ['SDSSr~empty']
20220914   ['SDSSr~empty' 'empty~empty']
20220922   ['empty~ronchi170lpmm' 'empty~empty']
20220923   ['empty~empty']
20220927   ['SDSSr~empty' 'FELH0600~empty' 'empty~empty']
20220928   ['empty~holo4_003' 'FELH0600~empty']
20220929   ['FELH0600~empty']
20221004   ['SDSSr~empty' 'FELH0600~empty' 'empty~empty']
20221005   ['SDSSr_65mm~empty' 'SDSSi_65mm~holo4_003' 'SDSSi_65mm~empty'
 'SDSSg_65mm~empty']
20221007   ['SDSSg_65mm~empty']
20221011   ['empty~empty' 'SDSSg_65mm~empty']
20221012   ['SDSSg_65mm~empty' 'SDSSr_65mm~empty']
20221013   ['SDSSr_65mm~empty']
20221025   ['SDSSi_65mm~empty' 'SDSSg_65mm~empty' 'SDSSr_65mm~empty']
20221026   ['SDSSr_65mm~empty' 'SDSSi_65mm~empty' 'SDSSg_65mm~empty']
20221027   ['SDSSg_65mm~empty' 'SDSSr_65mm~empty' 'SDSSi_65mm~empty']
20221103   ['SDSSi_65mm~empty' 'SDSSr_65mm~empty' 'SDSSg_65mm~empty']
20221104   ['SDSSi_65mm~empty' 'SDSSr_65mm~empty' 'SDSSg_65mm~empty']
20221108   ['SDSSg_65mm~empty' 'SDSSi_65mm~empty' 'SDSSr_65mm~empty']
20221109   ['SDSSr_65mm~empty' 'SDSSi_65mm~empty' 'SDSSg_65mm~empty']
20221110   ['SDSSg_65mm~empty' 'SDSSr_65mm~empty' 'SDSSi_65mm~empty']
20221122   ['SDSSi_65mm~empty' 'SDSSr_65mm~empty' 'SDSSg_65mm~empty']
20221123   ['SDSSr_65mm~empty' 'SDSSi_65mm~empty' 'SDSSg_65mm~empty']
20221124   ['SDSSg_65mm~empty' 'SDSSi_65mm~empty' 'SDSSr_65mm~empty']
20221209   ['SDSSi_65mm~empty' 'SDSSr_65mm~empty' 'SDSSg_65mm~empty' 'empty~empty']
20221211   ['unknown~unknown']
20221212   ['unknown~unknown' 'SDSSr_65mm~empty']
20230110   ['SDSSg_65mm~empty']
20230112   ['empty~empty' 'SDSSr_65mm~empty' 'BG40_65mm_1~empty' 'OG550_65mm_1~empty']
20230116   ['SDSSr_65mm~empty' 'empty~empty' 'BG40_65mm_1~empty' 'OG550_65mm_1~empty']
20230117   ['SDSSr_65mm~empty' 'BG40_65mm_1~empty' 'OG550_65mm_1~empty']
20230118   ['unknown~unknown' 'empty~empty' 'OG550_65mm_1~holo4_003'
 'OG550_65mm_1~empty' 'SDSSr_65mm~empty' 'BG40_65mm_1~empty']
20230119   ['BG40_65mm_1~empty' 'SDSSr_65mm~empty' 'OG550_65mm_1~empty']
20230127   ['SDSSr_65mm~empty' 'OG550_65mm_1~empty' 'BG40_65mm_1~empty']
20230131   ['BG40_65mm_1~empty' 'SDSSr_65mm~empty' 'OG550_65mm_1~empty']
20230201   ['SDSSr_65mm~empty' 'BG40_65mm_1~empty' 'OG550_65mm_1~empty']
20230202   ['SDSSr_65mm~empty' 'OG550_65mm_1~empty' 'BG40_65mm_1~empty']
20230207   ['SDSSr_65mm~empty' 'OG550_65mm_1~empty' 'BG40_65mm_1~empty']
20230209   ['SDSSr_65mm~empty']
20230214   ['SDSSg_65mm~empty' 'SDSSr_65mm~empty' 'empty~empty' 'SDSSi_65mm~empty']
20230215   ['SDSSi_65mm~empty' 'SDSSg_65mm~empty' 'SDSSr_65mm~empty'
 'empty~blue300lpmm_qn1']
20230216   ['SDSSg_65mm~empty' 'SDSSr_65mm~empty' 'SDSSi_65mm~empty']
20230301   ['SDSSi_65mm~empty' 'SDSSg_65mm~empty' 'SDSSr_65mm~empty']
20230311   ['SDSSr_65mm~empty']
20230314   ['SDSSr_65mm~empty' 'SDSSi_65mm~empty' 'SDSSg_65mm~empty']
20230321   ['SDSSr_65mm~empty' 'empty~empty']

## Selection of date

In [17]:
date_sel = 20230119

In [18]:
df_flat_selected = df_flat[df_flat.day_obs == date_sel ]

In [19]:
len(df_flat_selected)

33

## Selection of filter

- But now we have a loop on filters

In [20]:
selected_filters = ['SDSSr_65mm~empty']

## Final selection of exposure

- loop on selected filters

In [21]:
pd.set_option('display.max_rows', None)

In [22]:
all_def_flat_selected_final = []

for selected_filter in selected_filters:

    print(selected_filter)
    df_flat_selected_final = df_flat_selected[df_flat_selected["filter"] ==  selected_filter]
    
    #print(df_science_selected_final)
    all_def_flat_selected_final.append(df_flat_selected_final.copy())
    
    df = df_flat_selected_final
    df_sel = df[['day_obs', 'seq_num']]
    
    
    NN = len(df)
    
    if NN>0:
        # build the line
        
        df_sel['line'] = df_sel.apply(lambda row: str(row['day_obs'])  + " " + str(row['seq_num']),axis = 1)
    
    
         # prepare output
        filename_out = "visitflat_"+ str(date_sel) + "_filt_" + selected_filter.replace('~','-') + ".list"
        print(filename_out)
        
        df_out = df_sel[["line"]]
        df_out.to_csv(filename_out, index=False, header=None)

SDSSr_65mm~empty
visitflat_20230119_filt_SDSSr_65mm-empty.list

/tmp/ipykernel_8688/257492132.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sel['line'] = df_sel.apply(lambda row: str(row['day_obs'])  + " " + str(row['seq_num']),axis = 1)

In [23]:
len(all_def_flat_selected_final)

1

In [24]:
all_def_flat_selected_final[0]

,id,obs_id,day_obs,seq_num,time_start,time_end,type,target,filter,zenith_angle,expos,ra,dec,skyangle,science_program,jd,mjd
32384,2023011900096,AT_O_20230119_000096,20230119,96,2023-01-19 19:45:17.223993,2023-01-19 19:45:18.460,flat,FlatField position,SDSSr_65mm~empty,51.129604,1.0,None,None,None,unknown,2.459964e+06,59963.823116
32416,2023011900097,AT_O_20230119_000097,20230119,97,2023-01-19 19:45:20.853987,2023-01-19 19:45:22.093,flat,FlatField position,SDSSr_65mm~empty,51.129603,1.0,None,None,None,unknown,2.459964e+06,59963.823158
32385,2023011900098,AT_O_20230119_000098,20230119,98,2023-01-19 19:45:24.488005,2023-01-19 19:45:25.724,flat,FlatField position,SDSSr_65mm~empty,51.129606,1.0,None,None,None,unknown,2.459964e+06,59963.823200
32417,2023011900099,AT_O_20230119_000099,20230119,99,2023-01-19 19:45:28.120011,2023-01-19 19:45:29.358,flat,FlatField position,SDSSr_65mm~empty,51.129606,1.0,None,None,None,unknown,2.459964e+06,59963.823242
32386,2023011900100,AT_O_20230119_000100,20230119,100,2023-01-19 19:45:31.752017,2023-01-19 19:45:32.987,flat,FlatField position,SDSSr_65mm~empty,51.12961,1.0,None,None,None,unknown,2.459964e+06,59963.823284
32418,2023011900101,AT_O_20230119_000101,20230119,101,2023-01-19 19:45:35.388006,2023-01-19 19:45:36.634,flat,FlatField position,SDSSr_65mm~empty,51.12961,1.0,None,None,None,unknown,2.459964e+06,59963.823326
32387,2023011900102,AT_O_20230119_000102,20230119,102,2023-01-19 19:45:39.028019,2023-01-19 19:45:40.263,flat,FlatField position,SDSSr_65mm~empty,51.129612,1.0,None,None,None,unknown,2.459964e+06,59963.823368
32419,2023011900103,AT_O_20230119_000103,20230119,103,2023-01-19 19:45:42.661996,2023-01-19 19:45:43.895,flat,FlatField position,SDSSr_65mm~empty,51.129613,1.0,None,None,None,unknown,2.459964e+06,59963.823410
32388,2023011900104,AT_O_20230119_000104,20230119,104,2023-01-19 19:45:46.323010,2023-01-19 19:45:47.779,flat,FlatField position,SDSSr_65mm~empty,51.129613,1.0,None,None,None,unknown,2.459964e+06,59963.823453
32420,2023011900105,AT_O_20230119_000105,20230119,105,2023-01-19 19:45:50.174005,2023-01-19 19:45:51.404,flat,FlatField position,SDSSr_65mm~empty,51.129616,1.0,None,None,None,unknown,2.459964e+06,59963.823497
32389,2023011900106,AT_O_20230119_000106,20230119,106,2023-01-19 19:45:53.800017,2023-01-19 19:45:55.028,flat,FlatField position,SDSSr_65mm~empty,51.129617,1.0,None,None,None,unknown,2.459964e+06,59963.823539

In [ ]:
all_def_flat_selected_final[1]

In [ ]:
all_def_flat_selected_final[2]

In [ ]:
all_def_flat_selected_final[3]

In [ ]:
all_def_flat_selected_final[4]