# List of Exposures with Flats


- work with Weakly_2022_34
- use jupyter kernel LSST
- run at USDF


- author : Sylvie Dagoret-Campagne
- affiliation : IJCLab
- creation date : 2022/09/19

In [1]:
! eups list -s | grep LOCAL

atmospec              LOCAL:/home/d/dagoret/repos/repos_w_2022_34/atmospec 	setup
eups                  LOCAL:/opt/lsst/software/stack/conda/miniconda3-py38_4.9.2/envs/lsst-scipipe-4.1.0/eups 	setup

In [2]:
! echo $IMAGE_DESCRIPTION
! eups list -s lsst_distrib

w_2022_34
   g0b29ad24fb+897c4bc163 	current w_2022_34 setup

In [3]:
import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline
from matplotlib.colors import LogNorm

from mpl_toolkits.axes_grid1 import make_axes_locatable

import matplotlib.ticker                         # here's where the formatter is
from matplotlib.ticker import (MultipleLocator, FormatStrFormatter,
                               AutoMinorLocator)

from astropy.io import fits

In [4]:
import lsst.afw.display as afwDisplay
afwDisplay.setDefaultBackend('matplotlib')

In [5]:
import lsst.daf.butler as dafButler

In [6]:
repo = "/sdf/group/rubin/repo/main"
butler = dafButler.Butler(repo)
registry = butler.registry

## List of Exposures

In [7]:
df_exposure = pd.DataFrame(columns=['id', 'obs_id','day_obs','group_name' ,'seq_num', 'type', 'target','filter','zenith_angle','expos','ra','dec','skyangle'])

In [8]:
for count, info in enumerate(registry.queryDimensionRecords('exposure',where= "instrument='LATISS'")):
    
    
    df_exposure.loc[count] = [info.id, info.obs_id, info.day_obs, info.group_name,info.seq_num, info.observation_type, info.target_name, info.physical_filter, info.zenith_angle, \
                             info.exposure_time,info.tracking_ra, info.tracking_dec, info.sky_angle]
    
    if count < 0:
        print("-----------------------------------------------------",count,"---------------------------------------------------------")
        print(info)
        print("\t id:                  ",info.id)
        print("\t day_obs:             ",info.day_obs)
        print("\t group_name:             ",info.group_name)
        print("\t seq_num:             ",info.seq_num)
        print("\t type-of-observation: ",info.observation_type)
        print("\t target:              ",info.target_name)

In [9]:
df_exposure

,id,obs_id,day_obs,group_name,seq_num,type,target,filter,zenith_angle,expos,ra,dec,skyangle
0,2022062800004,AT_O_20220628_000004,20220628,2022-06-28T17:03:59.508,4,bias,Park position,SDSSr~empty,NaN,0.0,NaN,NaN,NaN
1,2022070600001,AT_O_20220706_000001,20220706,2022070600001,1,test,UNKNOWN,unknown~unknown,NaN,5.0,NaN,NaN,NaN
2,2022070700001,AT_O_20220707_000001,20220707,2022-07-07T13:58:52.184,1,bias,UNKNOWN,empty~ronchi170lpmm,NaN,0.0,NaN,NaN,NaN
3,2022071100001,AT_O_20220711_000001,20220711,2022-07-11T18:15:33.507,1,bias,UNKNOWN,FELH0600~holo4_003,NaN,0.0,NaN,NaN,NaN
4,2022071200001,AT_O_20220712_000001,20220712,2022-07-12T15:42:44.109,1,bias,UNKNOWN,SDSSg~holo4_003,NaN,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44232,2022060900935,AT_O_20220609_000935,20220609,2022-06-10T10:20:00.477,935,cwfs,HD 221054,SDSSg~empty,21.707667,30.0,352.285362,-51.019608,269.453648
44233,2022060900936,AT_O_20220609_000936,20220609,2022-06-10T10:20:00.477,936,cwfs,HD 221054,SDSSg~empty,21.670582,30.0,352.28535,-51.019575,269.453634
44234,2022060900937,AT_O_20220609_000937,20220609,2022-06-10T10:20:00.477,937,cwfs,HD 221054,SDSSg~empty,21.594164,30.0,352.285373,-51.019592,269.453635
44235,2022060900938,AT_O_20220609_000938,20220609,2022-06-10T10:20:00.477,938,cwfs,HD 221054,SDSSg~empty,21.559853,30.0,352.285369,-51.019605,269.453759
44236,2022060900939,AT_O_20220609_000939,20220609,2022-06-10T10:20:00.477,939,acq,HD 221054,SDSSg~empty,21.491898,5.0,352.285365,-51.01959,269.453698

## Selection of Flats

In [10]:
df_flat = df_exposure[df_exposure.type == 'flat']

In [11]:
df_flat.sort_values(by="id",ascending=True,inplace=True)

/tmp/ipykernel_10141/2352331422.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_flat.sort_values(by="id",ascending=True,inplace=True)

In [12]:
df_flat.tail(60)

,id,obs_id,day_obs,group_name,seq_num,type,target,filter,zenith_angle,expos,ra,dec,skyangle
43333,2022060900036,AT_O_20220609_000036,20220609,2022-06-09T21:19:55.750,36,flat,FlatField position,BG40~empty,51.003493,6.00,None,None,None
43334,2022060900037,AT_O_20220609_000037,20220609,2022-06-09T21:19:55.750,37,flat,FlatField position,BG40~empty,51.0035,6.00,None,None,None
43335,2022060900038,AT_O_20220609_000038,20220609,2022-06-09T21:19:55.750,38,flat,FlatField position,BG40~empty,51.0035,6.00,None,None,None
43336,2022060900039,AT_O_20220609_000039,20220609,2022-06-09T21:19:55.750,39,flat,FlatField position,BG40~empty,51.0035,6.00,None,None,None
43337,2022060900040,AT_O_20220609_000040,20220609,2022-06-09T21:19:55.750,40,flat,FlatField position,BG40~empty,51.0035,6.00,None,None,None
43338,2022060900041,AT_O_20220609_000041,20220609,2022-06-09T21:19:55.750,41,flat,FlatField position,BG40~empty,51.003503,6.00,None,None,None
43339,2022060900042,AT_O_20220609_000042,20220609,2022-06-09T21:19:55.750,42,flat,FlatField position,BG40~empty,51.003503,6.00,None,None,None
43340,2022060900043,AT_O_20220609_000043,20220609,2022-06-09T21:19:55.750,43,flat,FlatField position,BG40~empty,51.003506,6.00,None,None,None
43341,2022060900044,AT_O_20220609_000044,20220609,2022-06-09T21:19:55.750,44,flat,FlatField position,BG40~empty,51.003504,6.00,None,None,None
43342,2022060900045,AT_O_20220609_000045,20220609,2022-06-09T21:21:58.370,45,flat,FlatField position,SDSSg~empty,51.003509,6.00,None,None,None
43343,2022060900046,AT_O_20220609_000046,20220609,2022-06-09T21:21:58.370,46,flat,FlatField position,SDSSg~empty,51.003513,6.00,None,None,None
43344,2022060900047,AT_O_20220609_000047,20220609,2022-06-09T21:21:58.370,47,flat,FlatField position,SDSSg~empty,51.003514,6.00,None,None,None
43345,2022060900048,AT_O_20220609_000048,20220609,2022-06-09T21:21:58.370,48,flat,FlatField position,SDSSg~empty,51.003515,6.00,None,None,None
43346,2022060900049,AT_O_20220609_000049,20220609,2022-06-09T21:21:58.370,49,flat,FlatField position,SDSSg~empty,51.003517,6.00,None,None,None
43347,2022060900050,AT_O_20220609_000050,20220609,2022-06-09T21:21:58.370,50,flat,FlatField position,SDSSg~empty,51.003518,6.00,None,None,None
43348,2022060900051,AT_O_20220609_000051,20220609,2022-06-09T21:21:58.370,51,flat,FlatField position,SDSSg~empty,51.003522,6.00,None,None,None
43349,2022060900052,AT_O_20220609_000052,20220609,2022-06-09T21:21:58.370,52,flat,FlatField position,SDSSg~empty,51.003518,6.00,None,None,None
43350,2022060900053,AT_O_20220609_000053,20220609,2022-06-09T21:21:58.370,53,flat,FlatField position,SDSSg~empty,51.00352,6.00,None,None,None
43351,2022060900054,AT_O_20220609_000054,20220609,2022-06-09T21:21:58.370,54,flat,FlatField position,SDSSg~empty,51.003523,6.00,None,None,None
16,2022062800008,AT_O_20220628_000008,20220628,2022-06-28T22:21:22.970,8,flat,FlatField position,FELH0600~empty,50.999888,1.00,None,None,None
19,2022062800009,AT_O_20220628_000009,20220628,2022-06-28T22:21:22.970,9,flat,FlatField position,FELH0600~empty,50.999885,1.00,None,None,None
54,2022062800022,AT_O_20220628_000022,20220628,2022-06-28T22:28:50.376,22,flat,FlatField position,FELH0600~empty,50.999874,0.10,None,None,None
57,2022062800023,AT_O_20220628_000023,20220628,2022-06-28T22:28:53.186,23,flat,FlatField position,FELH0600~empty,50.999869,0.10,None,None,None
58,2022062800024,AT_O_20220628_000024,20220628,2022-06-28T22:28:55.862,24,flat,FlatField position,FELH0600~empty,50.999874,0.35,None,None,None
59,2022062800025,AT_O_20220628_000025,20220628,2022-06-28T22:28:58.781,25,flat,FlatField position,FELH0600~empty,50.999873,0.35,None,None,None
60,2022062800026,AT_O_20220628_000026,20220628,2022-06-28T22:29:01.696,26,flat,FlatField position,FELH0600~empty,50.99987,0.60,None,None,None
61,2022062800027,AT_O_20220628_000027,20220628,2022-06-28T22:29:04.862,27,flat,FlatField position,FELH0600~empty,50.999872,0.60,None,None,None
62,2022062800028,AT_O_20220628_000028,20220628,2022-06-28T22:29:08.024,28,flat,FlatField position,FELH0600~empty,50.999872,1.80,None,None,None
63,2022062800029,AT_O_20220628_000029,20220628,2022-06-28T22:29:12.383,29,flat,FlatField position,FELH0600~empty,50.999871,1.80,None,None,None
64,2022062800030,AT_O_20220628_000030,20220628,2022-06-28T22:29:16.740,30,flat,FlatField position,FELH0600~empty,50.999873,2.50,None,None,None
65,2022062800031,AT_O_20220628_000031,20220628,2022-06-28T22:29:21.799,31,flat,FlatField position,FELH0600~empty,50.999873,2.50,None,None,None
66,2022062800032,AT_O_20220628_000032,20220628,2022-06-28T22:29:26.862,32,flat,FlatField position,FELH0600~empty,50.999854,3.80,None,None,None
67,2022062800033,AT_O_20220628_000033,20220628,2022-06-28T22:29:33.232,33,flat,FlatField position,FELH0600~empty,50.99985,3.80,None,None,None
68,2022062800034,AT_O_20220628_000034,20220628,2022-06-28T22:29:39.596,34,flat,FlatField position,FELH0600~empty,50.99985,5.60,None,None,None
69,2022062800035,AT_O_20220628_000035,20220628,2022-06-28T22:29:47.756,35,flat,FlatField position,FELH0600~empty,50.999848,5.60,None,None,None
780,2022062900018,AT_O_20220629_000018,20220629,2022-06-29T21:25:27.421,18,flat,FlatField position,SDSSr~empty,50.999766,0.10,None,None,None
781,2022062900019,AT_O_20220629_000019,20220629,2022-06-29T21:25:30.246,19,flat,FlatField position,SDSSr~empty,50.999765,0.10,None,None,None
782,2022062900020,AT_O_20220629_000020,20220629,2022-06-29T21:25:32.911,20,flat,FlatField position,SDSSr~empty,50.999763,0.35,None,None,None
783,2022062900022,AT_O_20220629_000022,20220629,2022-06-29T21:25:38.733,22,flat,FlatField position,SDSSr~empty,50.999764,0.60,None,None,None
784,2022062900023,AT_O_20220629_000023,20220629,2022-06-29T21:25:41.899,23,flat,FlatField position,SDSSr~empty,50.999766,0.60,None,None,None
785,2022062900024,AT_O_20220629_000024,20220629,2022-06-29T21:25:45.055,24,flat,FlatField position,SDSSr~empty,50.999762,1.80,None,None,None
786,2022062900025,AT_O_20220629_000025,20220629,2022-06-29T21:25:49.419,25,flat,FlatField position,SDSSr~empty,50.999763,1.80,None,None,None
787,2022062900026,AT_O_20220629_000026,20220629,2022-06-29T21:25:53.769,26,flat,FlatField position,SDSSr~empty,50.999766,2.50,None,None,None
790,2022062900029,AT_O_20220629_000029,20220629,2022-06-29T21:26:10.259,29,flat,FlatField position,SDSSr~empty,50.999765,3.80,None,None,None
791,2022062900030,AT_O_20220629_000030,20220629,2022-06-29T21:26:16.618,30,flat,FlatField position,SDSSr~empty,50.999765,5.60,None,None,None
792,2022062900031,AT_O_20220629_000031,20220629,2022-06-29T21:26:24.780,31,flat,FlatField position,SDSSr~empty,50.999765,5.60,None,None,None
1338,2022063000015,AT_O_20220630_000015,20220630,2022-06-30T22:08:06.628,15,flat,FlatField position,SDSSr~holo4_003,50.999903,0.10,None,None,None
1339,2022063000016,AT_O_20220630_000016,20220630,2022-06-30T22:08:09.436,16,flat,FlatField position,SDSSr~holo4_003,50.999901,0.10,None,None,None
1340,2022063000017,AT_O_20220630_000017,20220630,2022-06-30T22:08:12.096,17,flat,FlatField position,SDSSr~holo4_003,50.999901,0.35,None,None,None
1341,2022063000018,AT_O_20220630_000018,20220630,2022-06-30T22:08:15.000,18,flat,FlatField position,SDSSr~holo4_003,50.999902,0.35,None,None,None
1342,2022063000019,AT_O_20220630_000019,20220630,2022-06-30T22:08:17.917,19,flat,FlatField position,SDSSr~holo4_003,50.9999,0.60,None,None,None
1343,2022063000020,AT_O_20220630_000020,20220630,2022-06-30T22:08:21.069,20,flat,FlatField position,SDSSr~holo4_003,50.999903,0.60,None,None,None
1344,2022063000021,AT_O_20220630_000021,20220630,2022-06-30T22:08:24.226,21,flat,FlatField position,SDSSr~holo4_003,50.999903,1.80,None,None,None
1345,2022063000022,AT_O_20220630_000022,20220630,2022-06-30T22:08:28.582,22,flat,FlatField position,SDSSr~holo4_003,50.999901,1.80,None,None,None
1346,2022063000023,AT_O_20220630_000023,20220630,2022-06-30T22:08:32.943,23,flat,FlatField position,SDSSr~holo4_003,50.999899,2.50,None,None,None
1347,2022063000024,AT_O_20220630_000024,20220630,2022-06-30T22:08:38.011,24,flat,FlatField position,SDSSr~holo4_003,50.9999,2.50,None,None,None
1348,2022063000025,AT_O_20220630_000025,20220630,2022-06-30T22:08:43.071,25,flat,FlatField position,SDSSr~holo4_003,50.999901,3.80,None,None,None
1349,2022063000026,AT_O_20220630_000026,20220630,2022-06-30T22:08:49.428,26,flat,FlatField position,SDSSr~holo4_003,50.9999,3.80,None,None,None
1350,2022063000027,AT_O_20220630_000027,20220630,2022-06-30T22:08:55.798,27,flat,FlatField position,SDSSr~holo4_003,50.999899,5.60,None,None,None
1351,2022063000028,AT_O_20220630_000028,20220630,2022-06-30T22:09:03.952,28,flat,FlatField position,SDSSr~holo4_003,50.9999,5.60,None,None,None

In [13]:
df_flat.day_obs.unique()

array([20190309, 20190405, 20190408, 20190612, 20190810, 20190814,
       20190817, 20190819, 20190821, 20191108, 20200117, 20200127,
       20200128, 20200129, 20200212, 20200217, 20200219, 20200220,
       20200221, 20200312, 20200313, 20200315, 20201030, 20210115,
       20210119, 20210121, 20210126, 20210216, 20210217, 20210218,
       20210309, 20210310, 20210311, 20210323, 20210524, 20210525,
       20210608, 20210609, 20210707, 20210708, 20210804, 20210817,
       20210818, 20210907, 20210908, 20210909, 20210913, 20211005,
       20211006, 20211007, 20211013, 20211102, 20211104, 20211130,
       20211202, 20220207, 20220208, 20220209, 20220215, 20220216,
       20220217, 20220223, 20220224, 20220304, 20220314, 20220315,
       20220316, 20220317, 20220405, 20220406, 20220407, 20220429,
       20220502, 20220503, 20220504, 20220505, 20220524, 20220526,
       20220527, 20220528, 20220531, 20220602, 20220607, 20220608,
       20220609, 20220628, 20220629, 20220630])

## Selection of date

### Add those

20220504 - Not existing

In [14]:
date_sel = 20220609

In [15]:
df_flat_selected = df_flat[df_flat.day_obs == date_sel ]

In [16]:
len(df_flat_selected)

30

# List of filters

In [17]:
list_of_filters = df_flat_selected['filter'].unique()
list_of_filters

array(['FELH0600~empty', 'BG40~empty', 'SDSSg~empty'], dtype=object)

In [18]:
selected_filters = []
for filt in list_of_filters:
    #flag_sel = (filt.find('holo4') != -1) or (filt.find('ronchi90lpmm') != -1) or (filt.find('ronchi170lpmm') != -1)
    #flag_sel = (filt.find('holo4') != -1) 
    #flag_sel = (filt.find('ronchi170') != -1) 
    flag_sel = True
    if flag_sel:
        selected_filters.append(filt) 
selected_filters = np.array(selected_filters)
selected_filters

array(['FELH0600~empty', 'BG40~empty', 'SDSSg~empty'], dtype='<U14')

## Selection of filter

- But now we have a loop on filters

In [19]:
#idx_sel_filt = 0
#selected_filter = selected_filters[0]
#selected_filter

## Final selection of exposure

- loop on selected filters

In [20]:
pd.set_option('display.max_rows', None)

In [21]:
all_def_flat_selected_final = []

for selected_filter in selected_filters:

    print(selected_filter)
    df_flat_selected_final = df_flat_selected[df_flat_selected["filter"] ==  selected_filter]
    
    #print(df_science_selected_final)
    all_def_flat_selected_final.append(df_flat_selected_final.copy())
    
    df = df_flat_selected_final
    df_sel = df[['day_obs', 'seq_num']]
    
    
    NN = len(df)
    
    if NN>0:
        # build the line
        
        df_sel['line'] = df_sel.apply(lambda row: str(row['day_obs'])  + " " + str(row['seq_num']),axis = 1)
    
    
         # prepare output
        filename_out = "visitflat_"+ str(date_sel) + "_filt_" + selected_filter.replace('~','-') + ".list"
        print(filename_out)
        
        df_out = df_sel[["line"]]
        df_out.to_csv(filename_out, index=False, header=None)

FELH0600~empty
visitflat_20220609_filt_FELH0600-empty.list
BG40~empty
visitflat_20220609_filt_BG40-empty.list
SDSSg~empty
visitflat_20220609_filt_SDSSg-empty.list

/tmp/ipykernel_10141/257492132.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sel['line'] = df_sel.apply(lambda row: str(row['day_obs'])  + " " + str(row['seq_num']),axis = 1)
/tmp/ipykernel_10141/257492132.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sel['line'] = df_sel.apply(lambda row: str(row['day_obs'])  + " " + str(row['seq_num']),axis = 1)
/tmp/ipykernel_10141/257492132.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sel['line'] = df_sel.apply(lambda row: str(row['day_obs'])  + " " + str(row['seq_num']),axis = 1)

In [22]:
len(all_def_flat_selected_final)

3

In [23]:
all_def_flat_selected_final[0]

,id,obs_id,day_obs,group_name,seq_num,type,target,filter,zenith_angle,expos,ra,dec,skyangle
43322,2022060900025,AT_O_20220609_000025,20220609,2022-06-09T21:14:39.432,25,flat,FlatField position,FELH0600~empty,51.003452,6.0,None,None,None
43323,2022060900026,AT_O_20220609_000026,20220609,2022-06-09T21:14:39.432,26,flat,FlatField position,FELH0600~empty,51.003451,6.0,None,None,None
43324,2022060900027,AT_O_20220609_000027,20220609,2022-06-09T21:14:39.432,27,flat,FlatField position,FELH0600~empty,51.003453,6.0,None,None,None
43325,2022060900028,AT_O_20220609_000028,20220609,2022-06-09T21:14:39.432,28,flat,FlatField position,FELH0600~empty,51.003452,6.0,None,None,None
43326,2022060900029,AT_O_20220609_000029,20220609,2022-06-09T21:14:39.432,29,flat,FlatField position,FELH0600~empty,51.003455,6.0,None,None,None
43327,2022060900030,AT_O_20220609_000030,20220609,2022-06-09T21:14:39.432,30,flat,FlatField position,FELH0600~empty,51.003456,6.0,None,None,None
43328,2022060900031,AT_O_20220609_000031,20220609,2022-06-09T21:14:39.432,31,flat,FlatField position,FELH0600~empty,51.003456,6.0,None,None,None
43329,2022060900032,AT_O_20220609_000032,20220609,2022-06-09T21:14:39.432,32,flat,FlatField position,FELH0600~empty,51.003458,6.0,None,None,None
43330,2022060900033,AT_O_20220609_000033,20220609,2022-06-09T21:14:39.432,33,flat,FlatField position,FELH0600~empty,51.003461,6.0,None,None,None
43331,2022060900034,AT_O_20220609_000034,20220609,2022-06-09T21:14:39.432,34,flat,FlatField position,FELH0600~empty,51.003461,6.0,None,None,None

In [24]:
all_def_flat_selected_final[1]

,id,obs_id,day_obs,group_name,seq_num,type,target,filter,zenith_angle,expos,ra,dec,skyangle
43332,2022060900035,AT_O_20220609_000035,20220609,2022-06-09T21:19:55.750,35,flat,FlatField position,BG40~empty,51.003498,6.0,None,None,None
43333,2022060900036,AT_O_20220609_000036,20220609,2022-06-09T21:19:55.750,36,flat,FlatField position,BG40~empty,51.003493,6.0,None,None,None
43334,2022060900037,AT_O_20220609_000037,20220609,2022-06-09T21:19:55.750,37,flat,FlatField position,BG40~empty,51.0035,6.0,None,None,None
43335,2022060900038,AT_O_20220609_000038,20220609,2022-06-09T21:19:55.750,38,flat,FlatField position,BG40~empty,51.0035,6.0,None,None,None
43336,2022060900039,AT_O_20220609_000039,20220609,2022-06-09T21:19:55.750,39,flat,FlatField position,BG40~empty,51.0035,6.0,None,None,None
43337,2022060900040,AT_O_20220609_000040,20220609,2022-06-09T21:19:55.750,40,flat,FlatField position,BG40~empty,51.0035,6.0,None,None,None
43338,2022060900041,AT_O_20220609_000041,20220609,2022-06-09T21:19:55.750,41,flat,FlatField position,BG40~empty,51.003503,6.0,None,None,None
43339,2022060900042,AT_O_20220609_000042,20220609,2022-06-09T21:19:55.750,42,flat,FlatField position,BG40~empty,51.003503,6.0,None,None,None
43340,2022060900043,AT_O_20220609_000043,20220609,2022-06-09T21:19:55.750,43,flat,FlatField position,BG40~empty,51.003506,6.0,None,None,None
43341,2022060900044,AT_O_20220609_000044,20220609,2022-06-09T21:19:55.750,44,flat,FlatField position,BG40~empty,51.003504,6.0,None,None,None

In [25]:
all_def_flat_selected_final[2]

,id,obs_id,day_obs,group_name,seq_num,type,target,filter,zenith_angle,expos,ra,dec,skyangle
43342,2022060900045,AT_O_20220609_000045,20220609,2022-06-09T21:21:58.370,45,flat,FlatField position,SDSSg~empty,51.003509,6.0,None,None,None
43343,2022060900046,AT_O_20220609_000046,20220609,2022-06-09T21:21:58.370,46,flat,FlatField position,SDSSg~empty,51.003513,6.0,None,None,None
43344,2022060900047,AT_O_20220609_000047,20220609,2022-06-09T21:21:58.370,47,flat,FlatField position,SDSSg~empty,51.003514,6.0,None,None,None
43345,2022060900048,AT_O_20220609_000048,20220609,2022-06-09T21:21:58.370,48,flat,FlatField position,SDSSg~empty,51.003515,6.0,None,None,None
43346,2022060900049,AT_O_20220609_000049,20220609,2022-06-09T21:21:58.370,49,flat,FlatField position,SDSSg~empty,51.003517,6.0,None,None,None
43347,2022060900050,AT_O_20220609_000050,20220609,2022-06-09T21:21:58.370,50,flat,FlatField position,SDSSg~empty,51.003518,6.0,None,None,None
43348,2022060900051,AT_O_20220609_000051,20220609,2022-06-09T21:21:58.370,51,flat,FlatField position,SDSSg~empty,51.003522,6.0,None,None,None
43349,2022060900052,AT_O_20220609_000052,20220609,2022-06-09T21:21:58.370,52,flat,FlatField position,SDSSg~empty,51.003518,6.0,None,None,None
43350,2022060900053,AT_O_20220609_000053,20220609,2022-06-09T21:21:58.370,53,flat,FlatField position,SDSSg~empty,51.00352,6.0,None,None,None
43351,2022060900054,AT_O_20220609_000054,20220609,2022-06-09T21:21:58.370,54,flat,FlatField position,SDSSg~empty,51.003523,6.0,None,None,None

In [26]:
all_def_flat_selected_final[3]

IndexError: list index out of range

In [ ]:
all_def_flat_selected_final[4]