# List of Flats


- work with Weakly_2022_09
- use jupyter kernel LSST


- author : Sylvie Dagoret-Campagne
- affiliation : IJCLab
- creation date : 2022/03/14

In [1]:
! eups list -s | grep LOCAL

atmospec              LOCAL:/sps/lsst/groups/auxtel/softs/shared/auxteldm_gen3/repos/w_2022_09/atmospec 	setup
eups                  LOCAL:/cvmfs/sw.lsst.eu/linux-x86_64/lsst_distrib/w_2022_09/conda/envs/lsst-scipipe-2.0.0/eups 	setup
rapid_analysis        LOCAL:/sps/lsst/groups/auxtel/softs/shared/auxteldm_gen3/repos/w_2022_09/rapid_analysis 	setup

In [2]:
! echo $IMAGE_DESCRIPTION
! eups list -s lsst_distrib

   g64fc59b30a+e1dba0a6f6 	w_latest w_2022_09 current setup

In [3]:
import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline
from matplotlib.colors import LogNorm

from mpl_toolkits.axes_grid1 import make_axes_locatable

import matplotlib.ticker                         # here's where the formatter is
from matplotlib.ticker import (MultipleLocator, FormatStrFormatter,
                               AutoMinorLocator)

from astropy.io import fits

In [4]:
import lsst.afw.display as afwDisplay
afwDisplay.setDefaultBackend('matplotlib')

In [5]:
import lsst.daf.butler as dafButler

In [6]:
repo = '/sps/lsst/groups/auxtel/softs/shared/auxteldm_gen3/data/butler.yaml'
butler = dafButler.Butler(repo)
registry = butler.registry

In [7]:
collection='LATISS/raw/all'

In [8]:
df = pd.DataFrame(columns=['id', 'day_obs', 'seq_num','type_obs','filter'])

idx=0
for count, info in enumerate(registry.queryDimensionRecords('exposure')):
    
    theid       = info.id
    day_obs  = info.day_obs
    seq_num  = info.seq_num
    type_obs = info.observation_type
    thefilter  = info.physical_filter 
    if type_obs == 'flat':
        idx+=1
        df.loc[idx] = [theid, day_obs,seq_num,type_obs,thefilter]

In [10]:
df.sort_values(by='id',inplace=True)

In [11]:
df

                id   day_obs  seq_num type_obs       filter
26   2021021600102  20210216      102     flat  RG610~empty
5    2021021600103  20210216      103     flat  RG610~empty
48   2021021600104  20210216      104     flat  RG610~empty
47   2021021600105  20210216      105     flat  RG610~empty
19   2021021600106  20210216      106     flat  RG610~empty
..             ...       ...      ...      ...          ...
949  2022021700060  20220217       60     flat  SDSSr~empty
944  2022021700061  20220217       61     flat  SDSSr~empty
941  2022021700062  20220217       62     flat  SDSSr~empty
948  2022021700063  20220217       63     flat  SDSSr~empty
947  2022021700064  20220217       64     flat  SDSSr~empty

[953 rows x 5 columns]