# Build flat filelist from registry.sqlite


- author : Sylvie Dagoret-Campagne
- affiliation : IJCLab/IN2P3/CNRS
- creation date : January 18th 2022
- update : February 2022/02/26


- purpose create ascii files with exposure identifier in order to call DM-Stack pipeline

In [1]:
import os
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import pandas as pd

import sqlite3

In [2]:
def read_sqlite(dbfile):
    import sqlite3
    from pandas import read_sql_query, read_sql_table

    with sqlite3.connect(dbfile) as dbcon:
        tables = list(read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", dbcon)['name'])
        out = {tbl : read_sql_query(f"SELECT * from {tbl}", dbcon) for tbl in tables}

    return out

## Configuration

In [3]:
# database file
database_file = "registry.sqlite3"

## Read DB

### Guess of list of tables in a Dictionnary

In [4]:
dict_db = read_sqlite(database_file)

In [5]:
dict_db.keys()

dict_keys(['raw', 'sqlite_sequence', 'raw_visit'])

### Put selected table in a pandas dataframe

In [6]:
dat = sqlite3.connect(database_file)

In [7]:
query = dat.execute("SELECT * From raw")

In [8]:
cols = [column[0] for column in query.description]

In [9]:
results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

In [10]:
results

,id,dayObs,seqNum,visit,detector,detectorName,filter,dateObs,date,expTime,object,imageType,wavelength,expGroup,obsid,expId
0,1,2021-06-08,1,2031133798900000,0,S00,RG610~holo4_003,2021-06-08T20:23:00.082,2021-06-08T20:23:00.082,0.0,azel_target,BIAS,-666,2021-06-08T20:22:59.890,AT_O_20210608_000001,2021060800001
1,2,2021-06-08,2,2031134348450000,0,S00,RG610~holo4_003,2021-06-08T20:23:55.021,2021-06-08T20:23:55.021,0.0,azel_target,BIAS,-666,2021-06-08T20:23:54.845,AT_O_20210608_000002,2021060800002
2,3,2021-06-08,3,2031134393460000,0,S00,RG610~holo4_003,2021-06-08T20:23:59.516,2021-06-08T20:23:59.516,0.0,azel_target,BIAS,-666,2021-06-08T20:23:59.346,AT_O_20210608_000003,2021060800003
3,4,2021-06-08,4,2031134438450000,0,S00,RG610~holo4_003,2021-06-08T20:24:04.019,2021-06-08T20:24:04.019,0.0,azel_target,BIAS,-666,2021-06-08T20:24:03.845,AT_O_20210608_000004,2021060800004
4,5,2021-06-08,5,2031134483610000,0,S00,RG610~holo4_003,2021-06-08T20:24:08.527,2021-06-08T20:24:08.527,0.0,azel_target,BIAS,-666,2021-06-08T20:24:08.361,AT_O_20210608_000005,2021060800005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12755,12756,2022-02-17,765,2251058140450000,0,S00,SDSSg~empty,2022-02-18T09:25:53.560,2022-02-18T09:25:53.560,30.0,LATISS_E6A_00000034,SKYEXP,-666,2022-02-18T09:23:34.045,AT_O_20220217_000765,2022021700765
12756,12757,2022-02-17,766,2251059032260000,0,S00,SDSSi~empty,2022-02-18T09:26:52.861,2022-02-18T09:26:52.861,30.0,LATISS_E6A_00000034,SKYEXP,-666,2022-02-18T09:25:03.226,AT_O_20220217_000766,2022021700766
12757,12758,2022-02-17,767,2251059032260000,0,S00,SDSSi~empty,2022-02-18T09:27:25.852,2022-02-18T09:27:25.852,30.0,LATISS_E6A_00000034,SKYEXP,-666,2022-02-18T09:25:03.226,AT_O_20220217_000767,2022021700767
12758,12759,2022-02-17,768,2251059905630000,0,S00,SDSSr~empty,2022-02-18T09:28:22.143,2022-02-18T09:28:22.143,30.0,LATISS_E6A_00000034,SKYEXP,-666,2022-02-18T09:26:30.563,AT_O_20220217_000768,2022021700768
12759,12760,2022-02-17,769,2251059905630000,0,S00,SDSSr~empty,2022-02-18T09:28:55.127,2022-02-18T09:28:55.127,30.0,LATISS_E6A_00000034,SKYEXP,-666,2022-02-18T09:26:30.563,AT_O_20220217_000769,2022021700769

## sort according day and time

In [11]:
results_sorted = results.sort_values(["dayObs", "seqNum"], ascending=True)

In [12]:
results_sorted

,id,dayObs,seqNum,visit,detector,detectorName,filter,dateObs,date,expTime,object,imageType,wavelength,expGroup,obsid,expId
8687,8688,2021-02-16,1,1934346219930000,0,S00,empty~empty,2021-02-16T19:50:22.184,2021-02-16T19:50:22.184,0.0,azel_target,BIAS,-666,2021-02-16T19:50:21.993,AT_O_20210216_000001,2021021600001
8688,8689,2021-02-16,2,1934362834080000,0,S00,empty~empty,2021-02-16T20:18:03.588,2021-02-16T20:18:03.588,0.0,azel_target,BIAS,-666,2021-02-16T20:18:03.408,AT_O_20210216_000002,2021021600002
8689,8690,2021-02-16,3,1934362963860000,0,S00,empty~empty,2021-02-16T20:18:16.563,2021-02-16T20:18:16.563,0.0,azel_target,BIAS,-666,2021-02-16T20:18:16.386,AT_O_20210216_000003,2021021600003
8690,8691,2021-02-16,4,1934363094110000,0,S00,empty~empty,2021-02-16T20:18:29.581,2021-02-16T20:18:29.581,0.0,azel_target,BIAS,-666,2021-02-16T20:18:29.411,AT_O_20210216_000004,2021021600004
8691,8692,2021-02-16,5,1934363223760000,0,S00,empty~empty,2021-02-16T20:18:42.546,2021-02-16T20:18:42.546,0.0,azel_target,BIAS,-666,2021-02-16T20:18:42.376,AT_O_20210216_000005,2021021600005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12755,12756,2022-02-17,765,2251058140450000,0,S00,SDSSg~empty,2022-02-18T09:25:53.560,2022-02-18T09:25:53.560,30.0,LATISS_E6A_00000034,SKYEXP,-666,2022-02-18T09:23:34.045,AT_O_20220217_000765,2022021700765
12756,12757,2022-02-17,766,2251059032260000,0,S00,SDSSi~empty,2022-02-18T09:26:52.861,2022-02-18T09:26:52.861,30.0,LATISS_E6A_00000034,SKYEXP,-666,2022-02-18T09:25:03.226,AT_O_20220217_000766,2022021700766
12757,12758,2022-02-17,767,2251059032260000,0,S00,SDSSi~empty,2022-02-18T09:27:25.852,2022-02-18T09:27:25.852,30.0,LATISS_E6A_00000034,SKYEXP,-666,2022-02-18T09:25:03.226,AT_O_20220217_000767,2022021700767
12758,12759,2022-02-17,768,2251059905630000,0,S00,SDSSr~empty,2022-02-18T09:28:22.143,2022-02-18T09:28:22.143,30.0,LATISS_E6A_00000034,SKYEXP,-666,2022-02-18T09:26:30.563,AT_O_20220217_000768,2022021700768
12759,12760,2022-02-17,769,2251059905630000,0,S00,SDSSr~empty,2022-02-18T09:28:55.127,2022-02-18T09:28:55.127,30.0,LATISS_E6A_00000034,SKYEXP,-666,2022-02-18T09:26:30.563,AT_O_20220217_000769,2022021700769

## imageType

In [13]:
list_of_imgtype = results_sorted['imageType'].unique()
list_of_imgtype

array(['BIAS', 'FLAT', 'SKYEXP', 'ENGTEST', 'DARK'], dtype=object)

In [14]:
def isflat(row):
    #print(row["filter"])
    if str(row["imageType"]) == "FLAT":
        return True
    
    else:
        return False

## Select Flats

In [15]:
results_sorted["selected"] = results_sorted.apply(isflat,axis=1)

In [16]:
results_selected = results_sorted[results_sorted.selected]

In [17]:
results_selected

,id,dayObs,seqNum,visit,detector,detectorName,filter,dateObs,date,expTime,object,imageType,wavelength,expGroup,obsid,expId,selected
8788,8789,2021-02-16,102,1934390234390000,0,S00,RG610~empty,2021-02-16T21:03:45.207,2021-02-16T21:03:45.207,2.0,FlatField position,FLAT,-666,2021-02-16T21:03:43.439,AT_O_20210216_000102,2021021600102,True
8789,8790,2021-02-16,103,1934390234390000,0,S00,RG610~empty,2021-02-16T21:03:49.790,2021-02-16T21:03:49.790,2.0,FlatField position,FLAT,-666,2021-02-16T21:03:43.439,AT_O_20210216_000103,2021021600103,True
8790,8791,2021-02-16,104,1934390234390000,0,S00,RG610~empty,2021-02-16T21:03:54.374,2021-02-16T21:03:54.374,2.0,FlatField position,FLAT,-666,2021-02-16T21:03:43.439,AT_O_20210216_000104,2021021600104,True
8791,8792,2021-02-16,105,1934390234390000,0,S00,RG610~empty,2021-02-16T21:03:58.958,2021-02-16T21:03:58.958,2.0,FlatField position,FLAT,-666,2021-02-16T21:03:43.439,AT_O_20210216_000105,2021021600105,True
8792,8793,2021-02-16,106,1934390234390000,0,S00,RG610~empty,2021-02-16T21:04:03.527,2021-02-16T21:04:03.527,2.0,FlatField position,FLAT,-666,2021-02-16T21:03:43.439,AT_O_20210216_000106,2021021600106,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12050,12051,2022-02-17,60,2250627582120000,0,S00,SDSSr~empty,2022-02-17T21:25:58.220,2022-02-17T21:25:58.220,2.0,FlatField position,FLAT,-666,2022-02-17T21:25:58.212,AT_O_20220217_000060,2022021700060,True
12051,12052,2022-02-17,61,2250627628310000,0,S00,SDSSr~empty,2022-02-17T21:26:02.841,2022-02-17T21:26:02.841,2.0,FlatField position,FLAT,-666,2022-02-17T21:26:02.831,AT_O_20220217_000061,2022021700061,True
12052,12053,2022-02-17,62,2250627674510000,0,S00,SDSSr~empty,2022-02-17T21:26:07.466,2022-02-17T21:26:07.466,2.0,FlatField position,FLAT,-666,2022-02-17T21:26:07.451,AT_O_20220217_000062,2022021700062,True
12053,12054,2022-02-17,63,2250627720960000,0,S00,SDSSr~empty,2022-02-17T21:26:12.108,2022-02-17T21:26:12.108,2.0,FlatField position,FLAT,-666,2022-02-17T21:26:12.096,AT_O_20220217_000063,2022021700063,True
12054,12055,2022-02-17,64,2250627767130000,0,S00,SDSSr~empty,2022-02-17T21:26:16.722,2022-02-17T21:26:16.722,2.0,FlatField position,FLAT,-666,2022-02-17T21:26:16.713,AT_O_20220217_000064,2022021700064,True

## List of dates where there are Flats

In [18]:
list_of_dates_flats = results_selected['dayObs'].unique() 
list_of_dates_flats

array(['2021-02-16', '2021-02-17', '2021-02-18', '2021-03-11',
       '2021-06-08', '2021-06-09', '2021-07-07', '2021-07-08',
       '2021-09-07', '2021-09-08', '2021-09-09', '2021-10-05',
       '2021-10-06', '2021-10-07', '2021-11-02', '2021-11-04',
       '2022-02-15', '2022-02-16', '2022-02-17'], dtype=object)

## Select a night

In [19]:
night_sel = list_of_dates_flats[-2]

In [20]:
cut = results_selected['dayObs'] == night_sel

In [21]:
df = results_selected[cut]

In [22]:
df

,id,dayObs,seqNum,visit,detector,detectorName,filter,dateObs,date,expTime,object,imageType,wavelength,expGroup,obsid,expId,selected
11262,11263,2022-02-16,45,2249737236410000,0,S00,SDSSr~empty,2022-02-16T20:42:03.809,2022-02-16T20:42:03.809,1.0,FlatField position,FLAT,-666,2022-02-16T20:42:03.641,AT_O_20220216_000045,2022021600045,True
11263,11264,2022-02-16,46,2249737274190000,0,S00,SDSSr~empty,2022-02-16T20:42:07.429,2022-02-16T20:42:07.429,1.0,FlatField position,FLAT,-666,2022-02-16T20:42:07.419,AT_O_20220216_000046,2022021600046,True
11264,11265,2022-02-16,47,2249737310310000,0,S00,SDSSr~empty,2022-02-16T20:42:11.039,2022-02-16T20:42:11.039,1.0,FlatField position,FLAT,-666,2022-02-16T20:42:11.031,AT_O_20220216_000047,2022021600047,True
11265,11266,2022-02-16,48,2249737346420000,0,S00,SDSSr~empty,2022-02-16T20:42:14.650,2022-02-16T20:42:14.650,1.0,FlatField position,FLAT,-666,2022-02-16T20:42:14.642,AT_O_20220216_000048,2022021600048,True
11266,11267,2022-02-16,49,2249737382620000,0,S00,SDSSr~empty,2022-02-16T20:42:18.276,2022-02-16T20:42:18.276,1.0,FlatField position,FLAT,-666,2022-02-16T20:42:18.262,AT_O_20220216_000049,2022021600049,True
11267,11268,2022-02-16,50,2249737418840000,0,S00,SDSSr~empty,2022-02-16T20:42:21.900,2022-02-16T20:42:21.900,1.0,FlatField position,FLAT,-666,2022-02-16T20:42:21.884,AT_O_20220216_000050,2022021600050,True
11268,11269,2022-02-16,51,2249737455090000,0,S00,SDSSr~empty,2022-02-16T20:42:25.523,2022-02-16T20:42:25.523,1.0,FlatField position,FLAT,-666,2022-02-16T20:42:25.509,AT_O_20220216_000051,2022021600051,True
11269,11270,2022-02-16,52,2249737491240000,0,S00,SDSSr~empty,2022-02-16T20:42:29.137,2022-02-16T20:42:29.137,1.0,FlatField position,FLAT,-666,2022-02-16T20:42:29.124,AT_O_20220216_000052,2022021600052,True
11270,11271,2022-02-16,53,2249737527550000,0,S00,SDSSr~empty,2022-02-16T20:42:32.762,2022-02-16T20:42:32.762,1.0,FlatField position,FLAT,-666,2022-02-16T20:42:32.755,AT_O_20220216_000053,2022021600053,True
11271,11272,2022-02-16,54,2249737563730000,0,S00,SDSSr~empty,2022-02-16T20:42:36.385,2022-02-16T20:42:36.385,1.0,FlatField position,FLAT,-666,2022-02-16T20:42:36.373,AT_O_20220216_000054,2022021600054,True
11272,11273,2022-02-16,55,2249737600060000,0,S00,SDSSr~empty,2022-02-16T20:42:40.017,2022-02-16T20:42:40.017,1.0,FlatField position,FLAT,-666,2022-02-16T20:42:40.006,AT_O_20220216_000055,2022021600055,True
11273,11274,2022-02-16,56,2249737636180000,0,S00,SDSSr~empty,2022-02-16T20:42:43.626,2022-02-16T20:42:43.626,1.0,FlatField position,FLAT,-666,2022-02-16T20:42:43.618,AT_O_20220216_000056,2022021600056,True
11274,11275,2022-02-16,57,2249737672400000,0,S00,SDSSr~empty,2022-02-16T20:42:47.254,2022-02-16T20:42:47.254,1.0,FlatField position,FLAT,-666,2022-02-16T20:42:47.240,AT_O_20220216_000057,2022021600057,True
11275,11276,2022-02-16,58,2249737708570000,0,S00,SDSSr~empty,2022-02-16T20:42:50.872,2022-02-16T20:42:50.872,1.0,FlatField position,FLAT,-666,2022-02-16T20:42:50.857,AT_O_20220216_000058,2022021600058,True
11276,11277,2022-02-16,59,2249737744720000,0,S00,SDSSr~empty,2022-02-16T20:42:54.486,2022-02-16T20:42:54.486,1.0,FlatField position,FLAT,-666,2022-02-16T20:42:54.472,AT_O_20220216_000059,2022021600059,True
11277,11278,2022-02-16,60,2249737780920000,0,S00,SDSSr~empty,2022-02-16T20:42:58.101,2022-02-16T20:42:58.101,1.0,FlatField position,FLAT,-666,2022-02-16T20:42:58.092,AT_O_20220216_000060,2022021600060,True
11278,11279,2022-02-16,61,2249737817010000,0,S00,SDSSr~empty,2022-02-16T20:43:01.707,2022-02-16T20:43:01.707,1.0,FlatField position,FLAT,-666,2022-02-16T20:43:01.701,AT_O_20220216_000061,2022021600061,True
11279,11280,2022-02-16,62,2249737853070000,0,S00,SDSSr~empty,2022-02-16T20:43:05.321,2022-02-16T20:43:05.321,1.0,FlatField position,FLAT,-666,2022-02-16T20:43:05.307,AT_O_20220216_000062,2022021600062,True
11280,11281,2022-02-16,63,2249737889270000,0,S00,SDSSr~empty,2022-02-16T20:43:08.939,2022-02-16T20:43:08.939,1.0,FlatField position,FLAT,-666,2022-02-16T20:43:08.927,AT_O_20220216_000063,2022021600063,True
11281,11282,2022-02-16,64,2249737925400000,0,S00,SDSSr~empty,2022-02-16T20:43:12.553,2022-02-16T20:43:12.553,1.0,FlatField position,FLAT,-666,2022-02-16T20:43:12.540,AT_O_20220216_000064,2022021600064,True

## Different files

In [23]:
list_of_filters = df["filter"].unique()

## Prepare of output

In [24]:
df_sel = df[['dayObs', 'seqNum']]

In [25]:
df_sel

           dayObs  seqNum
11262  2022-02-16      45
11263  2022-02-16      46
11264  2022-02-16      47
11265  2022-02-16      48
11266  2022-02-16      49
11267  2022-02-16      50
11268  2022-02-16      51
11269  2022-02-16      52
11270  2022-02-16      53
11271  2022-02-16      54
11272  2022-02-16      55
11273  2022-02-16      56
11274  2022-02-16      57
11275  2022-02-16      58
11276  2022-02-16      59
11277  2022-02-16      60
11278  2022-02-16      61
11279  2022-02-16      62
11280  2022-02-16      63
11281  2022-02-16      64

## Make filelist

In [26]:
#"--id dayObs=\'2021-07-07\' seqNum=333"

In [27]:
df_sel['line'] = df_sel.apply(lambda row: "--id dayObs=\'" + row['dayObs'] +"\' seqNum="+ str(row['seqNum']),axis = 1)

/tmp/ipykernel_15198/3435436747.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sel['line'] = df_sel.apply(lambda row: "--id dayObs=\'" + row['dayObs'] +"\' seqNum="+ str(row['seqNum']),axis = 1)

In [28]:
df_sel

           dayObs  seqNum                                line
11262  2022-02-16      45  --id dayObs='2022-02-16' seqNum=45
11263  2022-02-16      46  --id dayObs='2022-02-16' seqNum=46
11264  2022-02-16      47  --id dayObs='2022-02-16' seqNum=47
11265  2022-02-16      48  --id dayObs='2022-02-16' seqNum=48
11266  2022-02-16      49  --id dayObs='2022-02-16' seqNum=49
11267  2022-02-16      50  --id dayObs='2022-02-16' seqNum=50
11268  2022-02-16      51  --id dayObs='2022-02-16' seqNum=51
11269  2022-02-16      52  --id dayObs='2022-02-16' seqNum=52
11270  2022-02-16      53  --id dayObs='2022-02-16' seqNum=53
11271  2022-02-16      54  --id dayObs='2022-02-16' seqNum=54
11272  2022-02-16      55  --id dayObs='2022-02-16' seqNum=55
11273  2022-02-16      56  --id dayObs='2022-02-16' seqNum=56
11274  2022-02-16      57  --id dayObs='2022-02-16' seqNum=57
11275  2022-02-16      58  --id dayObs='2022-02-16' seqNum=58
11276  2022-02-16      59  --id dayObs='2022-02-16' seqNum=59
11277  2022-02-16      60  --id dayObs='2022-02-16' seqNum=60
11278  2022-02-16      61  --id dayObs='2022-02-16' seqNum=61
11279  2022-02-16      62  --id dayObs='2022-02-16' seqNum=62
11280  2022-02-16      63  --id dayObs='2022-02-16' seqNum=63
11281  2022-02-16      64  --id dayObs='2022-02-16' seqNum=64

## Output

In [29]:
filename_out = "visitflat_"+ night_sel+".list"

In [30]:
filename_out

'visitflat_2022-02-16.list'

In [31]:
df_out = df_sel[["line"]]

In [32]:
df_out

                                     line
11262  --id dayObs='2022-02-16' seqNum=45
11263  --id dayObs='2022-02-16' seqNum=46
11264  --id dayObs='2022-02-16' seqNum=47
11265  --id dayObs='2022-02-16' seqNum=48
11266  --id dayObs='2022-02-16' seqNum=49
11267  --id dayObs='2022-02-16' seqNum=50
11268  --id dayObs='2022-02-16' seqNum=51
11269  --id dayObs='2022-02-16' seqNum=52
11270  --id dayObs='2022-02-16' seqNum=53
11271  --id dayObs='2022-02-16' seqNum=54
11272  --id dayObs='2022-02-16' seqNum=55
11273  --id dayObs='2022-02-16' seqNum=56
11274  --id dayObs='2022-02-16' seqNum=57
11275  --id dayObs='2022-02-16' seqNum=58
11276  --id dayObs='2022-02-16' seqNum=59
11277  --id dayObs='2022-02-16' seqNum=60
11278  --id dayObs='2022-02-16' seqNum=61
11279  --id dayObs='2022-02-16' seqNum=62
11280  --id dayObs='2022-02-16' seqNum=63
11281  --id dayObs='2022-02-16' seqNum=64

In [33]:
df_out.to_csv(filename_out, index=False, header=None)

In [34]:
!cat $filename_out

--id dayObs='2022-02-16' seqNum=45
--id dayObs='2022-02-16' seqNum=46
--id dayObs='2022-02-16' seqNum=47
--id dayObs='2022-02-16' seqNum=48
--id dayObs='2022-02-16' seqNum=49
--id dayObs='2022-02-16' seqNum=50
--id dayObs='2022-02-16' seqNum=51
--id dayObs='2022-02-16' seqNum=52
--id dayObs='2022-02-16' seqNum=53
--id dayObs='2022-02-16' seqNum=54
--id dayObs='2022-02-16' seqNum=55
--id dayObs='2022-02-16' seqNum=56
--id dayObs='2022-02-16' seqNum=57
--id dayObs='2022-02-16' seqNum=58
--id dayObs='2022-02-16' seqNum=59
--id dayObs='2022-02-16' seqNum=60
--id dayObs='2022-02-16' seqNum=61
--id dayObs='2022-02-16' seqNum=62
--id dayObs='2022-02-16' seqNum=63
--id dayObs='2022-02-16' seqNum=64