# Build filelist from registry.sqlite for dispersers only


- author : Sylvie Dagoret-Campagne
- affiliation : IJCLab/IN2P3/CNRS
- creation date : January 18th 2022
- update : 20 March 2022

- purpose create ascii files with exposure identifier in order to call DM-Stack pipeline

In [1]:
import os
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import pandas as pd

import sqlite3

In [2]:
def read_sqlite(dbfile):
    import sqlite3
    from pandas import read_sql_query, read_sql_table

    with sqlite3.connect(dbfile) as dbcon:
        tables = list(read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", dbcon)['name'])
        out = {tbl : read_sql_query(f"SELECT * from {tbl}", dbcon) for tbl in tables}

    return out

## Configuration

In [3]:
# database file
database_file = "registry.sqlite3"

## Read DB

### Guess of list of tables in a Dictionnary

In [4]:
dict_db = read_sqlite(database_file)

In [5]:
dict_db.keys()

dict_keys(['raw', 'sqlite_sequence', 'raw_visit'])

### Put selected table in a pandas dataframe

In [6]:
dat = sqlite3.connect(database_file)

In [7]:
query = dat.execute("SELECT * From raw")

In [8]:
cols = [column[0] for column in query.description]

In [9]:
results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

In [10]:
results

,id,dayObs,seqNum,visit,detector,detectorName,filter,dateObs,date,expTime,object,imageType,wavelength,expGroup,obsid,expId
0,1,2021-06-08,1,2031133798900000,0,S00,RG610~holo4_003,2021-06-08T20:23:00.082,2021-06-08T20:23:00.082,0.0,azel_target,BIAS,-666,2021-06-08T20:22:59.890,AT_O_20210608_000001,2021060800001
1,2,2021-06-08,2,2031134348450000,0,S00,RG610~holo4_003,2021-06-08T20:23:55.021,2021-06-08T20:23:55.021,0.0,azel_target,BIAS,-666,2021-06-08T20:23:54.845,AT_O_20210608_000002,2021060800002
2,3,2021-06-08,3,2031134393460000,0,S00,RG610~holo4_003,2021-06-08T20:23:59.516,2021-06-08T20:23:59.516,0.0,azel_target,BIAS,-666,2021-06-08T20:23:59.346,AT_O_20210608_000003,2021060800003
3,4,2021-06-08,4,2031134438450000,0,S00,RG610~holo4_003,2021-06-08T20:24:04.019,2021-06-08T20:24:04.019,0.0,azel_target,BIAS,-666,2021-06-08T20:24:03.845,AT_O_20210608_000004,2021060800004
4,5,2021-06-08,5,2031134483610000,0,S00,RG610~holo4_003,2021-06-08T20:24:08.527,2021-06-08T20:24:08.527,0.0,azel_target,BIAS,-666,2021-06-08T20:24:08.361,AT_O_20210608_000005,2021060800005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13774,13775,2022-03-16,903,2274383426130000,0,S00,SDSSi~empty,2022-03-17T09:20:58.770,2022-03-17T09:20:58.770,30.0,LATISS_E6A_00000024,SKYEXP,-666,2022-03-17T09:19:02.613,AT_O_20220316_000903,2022031600903
13775,13776,2022-03-16,904,2274384188610000,0,S00,SDSSr~empty,2022-03-17T09:21:40.050,2022-03-17T09:21:40.050,30.0,LATISS_E6A_00000024,SKYEXP,-666,2022-03-17T09:20:18.861,AT_O_20220316_000904,2022031600904
13776,13777,2022-03-16,905,2274384188610000,0,S00,SDSSr~empty,2022-03-17T09:22:12.974,2022-03-17T09:22:12.974,30.0,LATISS_E6A_00000024,SKYEXP,-666,2022-03-17T09:20:18.861,AT_O_20220316_000905,2022031600905
13777,13778,2022-03-16,906,2274386419650000,0,S00,SDSSg~empty,2022-03-17T09:24:09.435,2022-03-17T09:24:09.435,30.0,LATISS_E6A_00000044,SKYEXP,-666,2022-03-17T09:24:01.965,AT_O_20220316_000906,2022031600906
13778,13779,2022-03-16,907,2274386419650000,0,S00,SDSSg~empty,2022-03-17T09:24:42.183,2022-03-17T09:24:42.183,30.0,LATISS_E6A_00000044,SKYEXP,-666,2022-03-17T09:24:01.965,AT_O_20220316_000907,2022031600907

## sort according day and time

In [11]:
results_sorted = results.sort_values(["dayObs", "seqNum"], ascending=True)

In [12]:
results_sorted

,id,dayObs,seqNum,visit,detector,detectorName,filter,dateObs,date,expTime,object,imageType,wavelength,expGroup,obsid,expId
8687,8688,2021-02-16,1,1934346219930000,0,S00,empty~empty,2021-02-16T19:50:22.184,2021-02-16T19:50:22.184,0.0,azel_target,BIAS,-666,2021-02-16T19:50:21.993,AT_O_20210216_000001,2021021600001
8688,8689,2021-02-16,2,1934362834080000,0,S00,empty~empty,2021-02-16T20:18:03.588,2021-02-16T20:18:03.588,0.0,azel_target,BIAS,-666,2021-02-16T20:18:03.408,AT_O_20210216_000002,2021021600002
8689,8690,2021-02-16,3,1934362963860000,0,S00,empty~empty,2021-02-16T20:18:16.563,2021-02-16T20:18:16.563,0.0,azel_target,BIAS,-666,2021-02-16T20:18:16.386,AT_O_20210216_000003,2021021600003
8690,8691,2021-02-16,4,1934363094110000,0,S00,empty~empty,2021-02-16T20:18:29.581,2021-02-16T20:18:29.581,0.0,azel_target,BIAS,-666,2021-02-16T20:18:29.411,AT_O_20210216_000004,2021021600004
8691,8692,2021-02-16,5,1934363223760000,0,S00,empty~empty,2021-02-16T20:18:42.546,2021-02-16T20:18:42.546,0.0,azel_target,BIAS,-666,2021-02-16T20:18:42.376,AT_O_20210216_000005,2021021600005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13774,13775,2022-03-16,903,2274383426130000,0,S00,SDSSi~empty,2022-03-17T09:20:58.770,2022-03-17T09:20:58.770,30.0,LATISS_E6A_00000024,SKYEXP,-666,2022-03-17T09:19:02.613,AT_O_20220316_000903,2022031600903
13775,13776,2022-03-16,904,2274384188610000,0,S00,SDSSr~empty,2022-03-17T09:21:40.050,2022-03-17T09:21:40.050,30.0,LATISS_E6A_00000024,SKYEXP,-666,2022-03-17T09:20:18.861,AT_O_20220316_000904,2022031600904
13776,13777,2022-03-16,905,2274384188610000,0,S00,SDSSr~empty,2022-03-17T09:22:12.974,2022-03-17T09:22:12.974,30.0,LATISS_E6A_00000024,SKYEXP,-666,2022-03-17T09:20:18.861,AT_O_20220316_000905,2022031600905
13777,13778,2022-03-16,906,2274386419650000,0,S00,SDSSg~empty,2022-03-17T09:24:09.435,2022-03-17T09:24:09.435,30.0,LATISS_E6A_00000044,SKYEXP,-666,2022-03-17T09:24:01.965,AT_O_20220316_000906,2022031600906
13778,13779,2022-03-16,907,2274386419650000,0,S00,SDSSg~empty,2022-03-17T09:24:42.183,2022-03-17T09:24:42.183,30.0,LATISS_E6A_00000044,SKYEXP,-666,2022-03-17T09:24:01.965,AT_O_20220316_000907,2022031600907

## Nights

In [13]:
list_of_nights = results_sorted['dayObs'].unique()
list_of_nights

array(['2021-02-16', '2021-02-17', '2021-02-18', '2021-03-11',
       '2021-06-08', '2021-06-09', '2021-06-10', '2021-07-06',
       '2021-07-07', '2021-07-08', '2021-09-07', '2021-09-08',
       '2021-09-09', '2021-10-05', '2021-10-06', '2021-10-07',
       '2021-11-02', '2021-11-03', '2021-11-04', '2022-02-15',
       '2022-02-16', '2022-02-17', '2022-03-15', '2022-03-16'],
      dtype=object)

## Filters

In [14]:
list_of_filters = results_sorted['filter'].unique()
list_of_filters

array(['empty~empty', 'RG610~empty', 'RG610~holo4_003', 'empty~holo4_003',
       'empty~ronchi90lpmm', 'RG610~ronchi90lpmm',
       'quadnotch1~ronchi90lpmm', 'BG40~empty', 'BG40~ronchi90lpmm',
       'RG610~ronchi170lpmm', 'BG40~holo4_003', 'unknown~unknown',
       'FELH0600~holo4_003', 'FELH0600~empty', 'FELH0600~ronchi170lpmm',
       'empty~ronchi170lpmm', 'quadnotch1~ronchi170lpmm',
       'BG40~ronchi170lpmm', 'quadnotch1~holo4_003',
       'FELH0600~ronchi90lpmm', 'SDSSg~empty', 'SDSSg~ronchi170lpmm',
       'SDSSg~holo4_003', 'quadnotch1~empty', 'SDSSr~empty',
       'SDSSi~empty', 'SDSSr~holo4_003'], dtype=object)

In [15]:
selected_filters = []
for filt in list_of_filters:
    flag_sel = (filt.find('holo4') != -1) or (filt.find('ronchi90lpmm') != -1) or (filt.find('ronchi170lpmm') != -1)
    if flag_sel:
        selected_filters.append(filt) 
selected_filters = np.array(selected_filters)
selected_filters

array(['RG610~holo4_003', 'empty~holo4_003', 'empty~ronchi90lpmm',
       'RG610~ronchi90lpmm', 'quadnotch1~ronchi90lpmm',
       'BG40~ronchi90lpmm', 'RG610~ronchi170lpmm', 'BG40~holo4_003',
       'FELH0600~holo4_003', 'FELH0600~ronchi170lpmm',
       'empty~ronchi170lpmm', 'quadnotch1~ronchi170lpmm',
       'BG40~ronchi170lpmm', 'quadnotch1~holo4_003',
       'FELH0600~ronchi90lpmm', 'SDSSg~ronchi170lpmm', 'SDSSg~holo4_003',
       'SDSSr~holo4_003'], dtype='<U24')

## Selections of raws

In [16]:
def isdisperser(row):
    #print(row["filter"])
    if str(row["filter"]) in selected_filters:
        return True
    
    else:
        return False

In [17]:
'empty~ronchi90lpmm' in selected_filters

True

In [18]:
results_sorted["selected"] = results_sorted.apply(isdisperser,axis=1)

In [19]:
results_selected = results_sorted[results_sorted.selected]

In [20]:
results_selected

,id,dayObs,seqNum,visit,detector,detectorName,filter,dateObs,date,expTime,object,imageType,wavelength,expGroup,obsid,expId,selected
8841,8842,2021-02-16,155,1934434098680000,0,S00,RG610~holo4_003,2021-02-16T22:16:52.177,2021-02-16T22:16:52.177,1.0,35 Tau,SKYEXP,-666,2021-02-16T22:16:49.868,AT_O_20210216_000155,2021021600155,True
8843,8844,2021-02-16,157,1934496686380000,0,S00,empty~holo4_003,2021-02-17T00:01:10.415,2021-02-17T00:01:10.415,1.0,Park position,FLAT,-666,2021-02-17T00:01:08.638,AT_O_20210216_000157,2021021600157,True
8844,8845,2021-02-16,158,1934497706180000,0,S00,empty~holo4_003,2021-02-17T00:02:50.885,2021-02-17T00:02:50.885,20.0,Park position,FLAT,-666,2021-02-17T00:02:50.618,AT_O_20210216_000158,2021021600158,True
8845,8846,2021-02-16,159,1934499157900000,0,S00,empty~holo4_003,2021-02-17T00:05:16.055,2021-02-17T00:05:16.055,20.0,Park position,FLAT,-666,2021-02-17T00:05:15.790,AT_O_20210216_000159,2021021600159,True
8860,8861,2021-02-16,174,1934547604440000,0,S00,empty~ronchi90lpmm,2021-02-17T01:26:02.311,2021-02-17T01:26:02.311,20.0,HD 50896,SKYEXP,-666,2021-02-17T01:26:00.444,AT_O_20210216_000174,2021021600174,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13302,13303,2022-03-16,431,2274167580660000,0,S00,empty~ronchi170lpmm,2022-03-17T03:20:22.035,2022-03-17T03:20:22.035,2.0,spec:HD111980,SKYEXP,-666,2022-03-17T03:19:18.066,AT_O_20220316_000431,2022031600431,True
13303,13304,2022-03-16,432,2274167580660000,0,S00,empty~ronchi170lpmm,2022-03-17T03:20:36.955,2022-03-17T03:20:36.955,20.0,spec:HD111980,SKYEXP,-666,2022-03-17T03:19:18.066,AT_O_20220316_000432,2022031600432,True
13304,13305,2022-03-16,433,2274167580660000,0,S00,empty~ronchi170lpmm,2022-03-17T03:21:10.026,2022-03-17T03:21:10.026,20.0,spec:HD111980,SKYEXP,-666,2022-03-17T03:19:18.066,AT_O_20220316_000433,2022031600433,True
13305,13306,2022-03-16,434,2274167580660000,0,S00,empty~holo4_003,2022-03-17T03:21:49.842,2022-03-17T03:21:49.842,20.0,spec:HD111980,SKYEXP,-666,2022-03-17T03:19:18.066,AT_O_20220316_000434,2022031600434,True
13306,13307,2022-03-16,435,2274167580660000,0,S00,empty~holo4_003,2022-03-17T03:22:22.856,2022-03-17T03:22:22.856,20.0,spec:HD111980,SKYEXP,-666,2022-03-17T03:19:18.066,AT_O_20220316_000435,2022031600435,True

## Select a night

In [21]:
night_sel = '2022-03-16'

In [22]:
cut = results_selected['dayObs'] == night_sel

In [23]:
df = results_selected[cut]

In [24]:
df

,id,dayObs,seqNum,visit,detector,detectorName,filter,dateObs,date,expTime,object,imageType,wavelength,expGroup,obsid,expId,selected
12874,12875,2022-03-16,3,2273851902840000,0,S00,SDSSg~holo4_003,2022-03-16T18:33:10.455,2022-03-16T18:33:10.455,0.0,FlatField position,BIAS,-666,2022-03-16T18:33:10.284,AT_O_20220316_000003,2022031600003,True
12875,12876,2022-03-16,4,2273852343460000,0,S00,SDSSg~holo4_003,2022-03-16T18:33:54.511,2022-03-16T18:33:54.511,0.0,FlatField position,BIAS,-666,2022-03-16T18:33:54.346,AT_O_20220316_000004,2022031600004,True
12876,12877,2022-03-16,5,2273852388380000,0,S00,SDSSg~holo4_003,2022-03-16T18:33:59.009,2022-03-16T18:33:59.009,0.0,FlatField position,BIAS,-666,2022-03-16T18:33:58.838,AT_O_20220316_000005,2022031600005,True
12877,12878,2022-03-16,6,2273852433320000,0,S00,SDSSg~holo4_003,2022-03-16T18:34:03.505,2022-03-16T18:34:03.505,0.0,FlatField position,BIAS,-666,2022-03-16T18:34:03.332,AT_O_20220316_000006,2022031600006,True
12878,12879,2022-03-16,7,2273852478280000,0,S00,SDSSg~holo4_003,2022-03-16T18:34:08.000,2022-03-16T18:34:08.000,0.0,FlatField position,BIAS,-666,2022-03-16T18:34:07.828,AT_O_20220316_000007,2022031600007,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13302,13303,2022-03-16,431,2274167580660000,0,S00,empty~ronchi170lpmm,2022-03-17T03:20:22.035,2022-03-17T03:20:22.035,2.0,spec:HD111980,SKYEXP,-666,2022-03-17T03:19:18.066,AT_O_20220316_000431,2022031600431,True
13303,13304,2022-03-16,432,2274167580660000,0,S00,empty~ronchi170lpmm,2022-03-17T03:20:36.955,2022-03-17T03:20:36.955,20.0,spec:HD111980,SKYEXP,-666,2022-03-17T03:19:18.066,AT_O_20220316_000432,2022031600432,True
13304,13305,2022-03-16,433,2274167580660000,0,S00,empty~ronchi170lpmm,2022-03-17T03:21:10.026,2022-03-17T03:21:10.026,20.0,spec:HD111980,SKYEXP,-666,2022-03-17T03:19:18.066,AT_O_20220316_000433,2022031600433,True
13305,13306,2022-03-16,434,2274167580660000,0,S00,empty~holo4_003,2022-03-17T03:21:49.842,2022-03-17T03:21:49.842,20.0,spec:HD111980,SKYEXP,-666,2022-03-17T03:19:18.066,AT_O_20220316_000434,2022031600434,True
13306,13307,2022-03-16,435,2274167580660000,0,S00,empty~holo4_003,2022-03-17T03:22:22.856,2022-03-17T03:22:22.856,20.0,spec:HD111980,SKYEXP,-666,2022-03-17T03:19:18.066,AT_O_20220316_000435,2022031600435,True

In [25]:
df_sel = df[['dayObs', 'seqNum']]

In [26]:
df_sel

           dayObs  seqNum
12874  2022-03-16       3
12875  2022-03-16       4
12876  2022-03-16       5
12877  2022-03-16       6
12878  2022-03-16       7
...           ...     ...
13302  2022-03-16     431
13303  2022-03-16     432
13304  2022-03-16     433
13305  2022-03-16     434
13306  2022-03-16     435

[159 rows x 2 columns]

## Make filelist

In [27]:
#"--id dayObs=\'2021-07-07\' seqNum=333"

In [28]:
#df_sel['line'] = df_sel.apply(lambda row: "--id dayObs=\'" + row['dayObs'] +"\' seqNum="+ str(row['seqNum']),axis = 1)
df_sel['line'] = df_sel.apply(lambda row: "--id dayObs=" + row['dayObs'] + " seqNum="+ str(row['seqNum']),axis = 1)

/tmp/ipykernel_7243/2490419735.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sel['line'] = df_sel.apply(lambda row: "--id dayObs=" + row['dayObs'] + " seqNum="+ str(row['seqNum']),axis = 1)

In [29]:
df_sel

           dayObs  seqNum                               line
12874  2022-03-16       3    --id dayObs=2022-03-16 seqNum=3
12875  2022-03-16       4    --id dayObs=2022-03-16 seqNum=4
12876  2022-03-16       5    --id dayObs=2022-03-16 seqNum=5
12877  2022-03-16       6    --id dayObs=2022-03-16 seqNum=6
12878  2022-03-16       7    --id dayObs=2022-03-16 seqNum=7
...           ...     ...                                ...
13302  2022-03-16     431  --id dayObs=2022-03-16 seqNum=431
13303  2022-03-16     432  --id dayObs=2022-03-16 seqNum=432
13304  2022-03-16     433  --id dayObs=2022-03-16 seqNum=433
13305  2022-03-16     434  --id dayObs=2022-03-16 seqNum=434
13306  2022-03-16     435  --id dayObs=2022-03-16 seqNum=435

[159 rows x 3 columns]

## Output

In [30]:
filename_out = "visit_"+ night_sel+".list"

In [31]:
filename_out

'visit_2022-03-16.list'

In [32]:
df_out = df_sel[["line"]]

In [33]:
df_out

                                    line
12874    --id dayObs=2022-03-16 seqNum=3
12875    --id dayObs=2022-03-16 seqNum=4
12876    --id dayObs=2022-03-16 seqNum=5
12877    --id dayObs=2022-03-16 seqNum=6
12878    --id dayObs=2022-03-16 seqNum=7
...                                  ...
13302  --id dayObs=2022-03-16 seqNum=431
13303  --id dayObs=2022-03-16 seqNum=432
13304  --id dayObs=2022-03-16 seqNum=433
13305  --id dayObs=2022-03-16 seqNum=434
13306  --id dayObs=2022-03-16 seqNum=435

[159 rows x 1 columns]

In [34]:
df_out.to_csv(filename_out, index=False, header=None)

In [35]:
!cat $filename_out

--id dayObs=2022-03-16 seqNum=3
--id dayObs=2022-03-16 seqNum=4
--id dayObs=2022-03-16 seqNum=5
--id dayObs=2022-03-16 seqNum=6
--id dayObs=2022-03-16 seqNum=7
--id dayObs=2022-03-16 seqNum=8
--id dayObs=2022-03-16 seqNum=9
--id dayObs=2022-03-16 seqNum=10
--id dayObs=2022-03-16 seqNum=11
--id dayObs=2022-03-16 seqNum=12
--id dayObs=2022-03-16 seqNum=13
--id dayObs=2022-03-16 seqNum=14
--id dayObs=2022-03-16 seqNum=15
--id dayObs=2022-03-16 seqNum=16
--id dayObs=2022-03-16 seqNum=17
--id dayObs=2022-03-16 seqNum=18
--id dayObs=2022-03-16 seqNum=19
--id dayObs=2022-03-16 seqNum=20
--id dayObs=2022-03-16 seqNum=21
--id dayObs=2022-03-16 seqNum=22
--id dayObs=2022-03-16 seqNum=23
--id dayObs=2022-03-16 seqNum=24
--id dayObs=2022-03-16 seqNum=25
--id dayObs=2022-03-16 seqNum=26
--id dayObs=2022-03-16 seqNum=27
--id dayObs=2022-03-16 seqNum=28
--id dayObs=2022-03-16 seqNum=29
--id dayObs=2022-03-16 seqNum=30
--id dayObs=2022-03-16 seqNum=31
--id dayObs=2022-03-16 seqNum=32
--id dayObs=2022-03-16 seqNum=33
--id dayObs=2022-03-16 seqNum=34
--id dayObs=2022-03-16 seqNum=35
--id dayObs=2022-03-16 seqNum=36
--id dayObs=2022-03-16 seqNum=37
--id dayObs=2022-03-16 seqNum=38
--id dayObs=2022-03-16 seqNum=39
--id dayObs=2022-03-16 seqNum=40
--id dayObs=2022-03-16 seqNum=41
--id dayObs=2022-03-16 seqNum=42
--id dayObs=2022-03-16 seqNum=43
--id dayObs=2022-03-16 seqNum=44
--id dayObs=2022-03-16 seqNum=45
--id dayObs=2022-03-16 seqNum=46
--id dayObs=2022-03-16 seqNum=47
--id dayObs=2022-03-16 seqNum=48
--id dayObs=2022-03-16 seqNum=49
--id dayObs=2022-03-16 seqNum=50
--id dayObs=2022-03-16 seqNum=51
--id dayObs=2022-03-16 seqNum=52
--id dayObs=2022-03-16 seqNum=53
--id dayObs=2022-03-16 seqNum=54
--id dayObs=2022-03-16 seqNum=55
--id dayObs=2022-03-16 seqNum=56
--id dayObs=2022-03-16 seqNum=57
--id dayObs=2022-03-16 seqNum=58
--id dayObs=2022-03-16 seqNum=59
--id dayObs=2022-03-16 seqNum=60
--id dayObs=2022-03-16 seqNum=61
--id dayObs=2022-03-16 seqNum=62
--id dayObs=2022-03-16 seqNum=63
--id dayObs=2022-03-16 seqNum=325
--id dayObs=2022-03-16 seqNum=326
--id dayObs=2022-03-16 seqNum=327
--id dayObs=2022-03-16 seqNum=328
--id dayObs=2022-03-16 seqNum=329
--id dayObs=2022-03-16 seqNum=330
--id dayObs=2022-03-16 seqNum=331
--id dayObs=2022-03-16 seqNum=332
--id dayObs=2022-03-16 seqNum=333
--id dayObs=2022-03-16 seqNum=334
--id dayObs=2022-03-16 seqNum=335
--id dayObs=2022-03-16 seqNum=336
--id dayObs=2022-03-16 seqNum=337
--id dayObs=2022-03-16 seqNum=338
--id dayObs=2022-03-16 seqNum=339
--id dayObs=2022-03-16 seqNum=340
--id dayObs=2022-03-16 seqNum=341
--id dayObs=2022-03-16 seqNum=342
--id dayObs=2022-03-16 seqNum=343
--id dayObs=2022-03-16 seqNum=344
--id dayObs=2022-03-16 seqNum=345
--id dayObs=2022-03-16 seqNum=346
--id dayObs=2022-03-16 seqNum=347
--id dayObs=2022-03-16 seqNum=348
--id dayObs=2022-03-16 seqNum=349
--id dayObs=2022-03-16 seqNum=350
--id dayObs=2022-03-16 seqNum=351
--id dayObs=2022-03-16 seqNum=352
--id dayObs=2022-03-16 seqNum=353
--id dayObs=2022-03-16 seqNum=354
--id dayObs=2022-03-16 seqNum=355
--id dayObs=2022-03-16 seqNum=356
--id dayObs=2022-03-16 seqNum=357
--id dayObs=2022-03-16 seqNum=358
--id dayObs=2022-03-16 seqNum=359
--id dayObs=2022-03-16 seqNum=360
--id dayObs=2022-03-16 seqNum=361
--id dayObs=2022-03-16 seqNum=362
--id dayObs=2022-03-16 seqNum=363
--id dayObs=2022-03-16 seqNum=364
--id dayObs=2022-03-16 seqNum=365
--id dayObs=2022-03-16 seqNum=366
--id dayObs=2022-03-16 seqNum=367
--id dayObs=2022-03-16 seqNum=368
--id dayObs=2022-03-16 seqNum=369
--id dayObs=2022-03-16 seqNum=370
--id dayObs=2022-03-16 seqNum=371
--id dayObs=2022-03-16 seqNum=372
--id dayObs=2022-03-16 seqNum=373
--id dayObs=2022-03-16 seqNum=374
--id dayObs=2022-03-16 seqNum=375
--id dayObs=2022-03-16 seqNum=376
--id dayObs=2022-03-16 seqNum=377
--id dayObs=2022-03-16 seqNum=378
--id dayObs=2022-03-16 seqNum=379
--id dayObs=2022-03-16 seqNum=380
--id dayObs=2022-03-16 seqNum=381
--id dayObs=2022-03-16 seqNum=382
--id dayObs=2022-03-16 seqNum=383
--id dayObs=2022-03-16 seqNum=384
--id dayObs=2022-03-16 seqNum=385
--id dayObs=2022-03-16 seqNum=386
--id dayObs=2022-03-16 seqNum=387
--id dayObs=2022-03-16 seqNum=388
--id dayObs=2022-03-16 seqNum=389
--id dayObs=2022-03-16 seqNum=390
--id dayObs=2022-03-16 seqNum=391
--id dayObs=2022-03-16 seqNum=392
--id dayObs=2022-03-16 seqNum=393
--id dayObs=2022-03-16 seqNum=394
--id dayObs=2022-03-16 seqNum=395
--id dayObs=2022-03-16 seqNum=396
--id dayObs=2022-03-16 seqNum=397
--id dayObs=2022-03-16 seqNum=398
--id dayObs=2022-03-16 seqNum=399
--id dayObs=2022-03-16 seqNum=400
--id dayObs=2022-03-16 seqNum=401
--id dayObs=2022-03-16 seqNum=415
--id dayObs=2022-03-16 seqNum=416
--id dayObs=2022-03-16 seqNum=417
--id dayObs=2022-03-16 seqNum=418
--id dayObs=2022-03-16 seqNum=419
--id dayObs=2022-03-16 seqNum=420
--id dayObs=2022-03-16 seqNum=421
--id dayObs=2022-03-16 seqNum=422
--id dayObs=2022-03-16 seqNum=423
--id dayObs=2022-03-16 seqNum=424
--id dayObs=2022-03-16 seqNum=425
--id dayObs=2022-03-16 seqNum=426
--id dayObs=2022-03-16 seqNum=427
--id dayObs=2022-03-16 seqNum=428
--id dayObs=2022-03-16 seqNum=429
--id dayObs=2022-03-16 seqNum=430
--id dayObs=2022-03-16 seqNum=431
--id dayObs=2022-03-16 seqNum=432
--id dayObs=2022-03-16 seqNum=433
--id dayObs=2022-03-16 seqNum=434
--id dayObs=2022-03-16 seqNum=435