# Build Bias filelist from registry.sqlite


- author : Sylvie Dagoret-Campagne
- affiliation : IJCLab/IN2P3/CNRS
- creation date : January 24th 2022
- update : 2022/02/26


- purpose create ascii files with exposure identifier in order to call DM-Stack pipeline

In [1]:
import os
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
import pandas as pd

import sqlite3

In [2]:
def read_sqlite(dbfile):
    import sqlite3
    from pandas import read_sql_query, read_sql_table

    with sqlite3.connect(dbfile) as dbcon:
        tables = list(read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", dbcon)['name'])
        out = {tbl : read_sql_query(f"SELECT * from {tbl}", dbcon) for tbl in tables}

    return out

## Configuration

In [3]:
# database file
database_file = "registry.sqlite3"

## Read DB

### Guess of list of tables in a Dictionnary

In [4]:
dict_db = read_sqlite(database_file)

In [5]:
dict_db.keys()

dict_keys(['raw', 'sqlite_sequence', 'raw_visit'])

### Put selected table in a pandas dataframe

In [6]:
dat = sqlite3.connect(database_file)

In [7]:
query = dat.execute("SELECT * From raw")

In [8]:
cols = [column[0] for column in query.description]

In [9]:
results= pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

In [10]:
results

,id,dayObs,seqNum,visit,detector,detectorName,filter,dateObs,date,expTime,object,imageType,wavelength,expGroup,obsid,expId
0,1,2021-06-08,1,2031133798900000,0,S00,RG610~holo4_003,2021-06-08T20:23:00.082,2021-06-08T20:23:00.082,0.0,azel_target,BIAS,-666,2021-06-08T20:22:59.890,AT_O_20210608_000001,2021060800001
1,2,2021-06-08,2,2031134348450000,0,S00,RG610~holo4_003,2021-06-08T20:23:55.021,2021-06-08T20:23:55.021,0.0,azel_target,BIAS,-666,2021-06-08T20:23:54.845,AT_O_20210608_000002,2021060800002
2,3,2021-06-08,3,2031134393460000,0,S00,RG610~holo4_003,2021-06-08T20:23:59.516,2021-06-08T20:23:59.516,0.0,azel_target,BIAS,-666,2021-06-08T20:23:59.346,AT_O_20210608_000003,2021060800003
3,4,2021-06-08,4,2031134438450000,0,S00,RG610~holo4_003,2021-06-08T20:24:04.019,2021-06-08T20:24:04.019,0.0,azel_target,BIAS,-666,2021-06-08T20:24:03.845,AT_O_20210608_000004,2021060800004
4,5,2021-06-08,5,2031134483610000,0,S00,RG610~holo4_003,2021-06-08T20:24:08.527,2021-06-08T20:24:08.527,0.0,azel_target,BIAS,-666,2021-06-08T20:24:08.361,AT_O_20210608_000005,2021060800005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12755,12756,2022-02-17,765,2251058140450000,0,S00,SDSSg~empty,2022-02-18T09:25:53.560,2022-02-18T09:25:53.560,30.0,LATISS_E6A_00000034,SKYEXP,-666,2022-02-18T09:23:34.045,AT_O_20220217_000765,2022021700765
12756,12757,2022-02-17,766,2251059032260000,0,S00,SDSSi~empty,2022-02-18T09:26:52.861,2022-02-18T09:26:52.861,30.0,LATISS_E6A_00000034,SKYEXP,-666,2022-02-18T09:25:03.226,AT_O_20220217_000766,2022021700766
12757,12758,2022-02-17,767,2251059032260000,0,S00,SDSSi~empty,2022-02-18T09:27:25.852,2022-02-18T09:27:25.852,30.0,LATISS_E6A_00000034,SKYEXP,-666,2022-02-18T09:25:03.226,AT_O_20220217_000767,2022021700767
12758,12759,2022-02-17,768,2251059905630000,0,S00,SDSSr~empty,2022-02-18T09:28:22.143,2022-02-18T09:28:22.143,30.0,LATISS_E6A_00000034,SKYEXP,-666,2022-02-18T09:26:30.563,AT_O_20220217_000768,2022021700768
12759,12760,2022-02-17,769,2251059905630000,0,S00,SDSSr~empty,2022-02-18T09:28:55.127,2022-02-18T09:28:55.127,30.0,LATISS_E6A_00000034,SKYEXP,-666,2022-02-18T09:26:30.563,AT_O_20220217_000769,2022021700769

## sort according day and time

In [11]:
results_sorted = results.sort_values(["dayObs", "seqNum"], ascending=True)

In [12]:
results_sorted

,id,dayObs,seqNum,visit,detector,detectorName,filter,dateObs,date,expTime,object,imageType,wavelength,expGroup,obsid,expId
8687,8688,2021-02-16,1,1934346219930000,0,S00,empty~empty,2021-02-16T19:50:22.184,2021-02-16T19:50:22.184,0.0,azel_target,BIAS,-666,2021-02-16T19:50:21.993,AT_O_20210216_000001,2021021600001
8688,8689,2021-02-16,2,1934362834080000,0,S00,empty~empty,2021-02-16T20:18:03.588,2021-02-16T20:18:03.588,0.0,azel_target,BIAS,-666,2021-02-16T20:18:03.408,AT_O_20210216_000002,2021021600002
8689,8690,2021-02-16,3,1934362963860000,0,S00,empty~empty,2021-02-16T20:18:16.563,2021-02-16T20:18:16.563,0.0,azel_target,BIAS,-666,2021-02-16T20:18:16.386,AT_O_20210216_000003,2021021600003
8690,8691,2021-02-16,4,1934363094110000,0,S00,empty~empty,2021-02-16T20:18:29.581,2021-02-16T20:18:29.581,0.0,azel_target,BIAS,-666,2021-02-16T20:18:29.411,AT_O_20210216_000004,2021021600004
8691,8692,2021-02-16,5,1934363223760000,0,S00,empty~empty,2021-02-16T20:18:42.546,2021-02-16T20:18:42.546,0.0,azel_target,BIAS,-666,2021-02-16T20:18:42.376,AT_O_20210216_000005,2021021600005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12755,12756,2022-02-17,765,2251058140450000,0,S00,SDSSg~empty,2022-02-18T09:25:53.560,2022-02-18T09:25:53.560,30.0,LATISS_E6A_00000034,SKYEXP,-666,2022-02-18T09:23:34.045,AT_O_20220217_000765,2022021700765
12756,12757,2022-02-17,766,2251059032260000,0,S00,SDSSi~empty,2022-02-18T09:26:52.861,2022-02-18T09:26:52.861,30.0,LATISS_E6A_00000034,SKYEXP,-666,2022-02-18T09:25:03.226,AT_O_20220217_000766,2022021700766
12757,12758,2022-02-17,767,2251059032260000,0,S00,SDSSi~empty,2022-02-18T09:27:25.852,2022-02-18T09:27:25.852,30.0,LATISS_E6A_00000034,SKYEXP,-666,2022-02-18T09:25:03.226,AT_O_20220217_000767,2022021700767
12758,12759,2022-02-17,768,2251059905630000,0,S00,SDSSr~empty,2022-02-18T09:28:22.143,2022-02-18T09:28:22.143,30.0,LATISS_E6A_00000034,SKYEXP,-666,2022-02-18T09:26:30.563,AT_O_20220217_000768,2022021700768
12759,12760,2022-02-17,769,2251059905630000,0,S00,SDSSr~empty,2022-02-18T09:28:55.127,2022-02-18T09:28:55.127,30.0,LATISS_E6A_00000034,SKYEXP,-666,2022-02-18T09:26:30.563,AT_O_20220217_000769,2022021700769

## imageType

In [13]:
list_of_imgtype = results_sorted['imageType'].unique()
list_of_imgtype

array(['BIAS', 'FLAT', 'SKYEXP', 'ENGTEST', 'DARK'], dtype=object)

In [14]:
def isbias(row):
    #print(row["filter"])
    if str(row["imageType"]) == "BIAS":
        return True
    
    else:
        return False

## Select Flats

In [15]:
results_sorted["selected"] = results_sorted.apply(isbias,axis=1)

In [16]:
results_selected = results_sorted[results_sorted.selected]

In [17]:
results_selected

,id,dayObs,seqNum,visit,detector,detectorName,filter,dateObs,date,expTime,object,imageType,wavelength,expGroup,obsid,expId,selected
8687,8688,2021-02-16,1,1934346219930000,0,S00,empty~empty,2021-02-16T19:50:22.184,2021-02-16T19:50:22.184,0.0,azel_target,BIAS,-666,2021-02-16T19:50:21.993,AT_O_20210216_000001,2021021600001,True
8688,8689,2021-02-16,2,1934362834080000,0,S00,empty~empty,2021-02-16T20:18:03.588,2021-02-16T20:18:03.588,0.0,azel_target,BIAS,-666,2021-02-16T20:18:03.408,AT_O_20210216_000002,2021021600002,True
8689,8690,2021-02-16,3,1934362963860000,0,S00,empty~empty,2021-02-16T20:18:16.563,2021-02-16T20:18:16.563,0.0,azel_target,BIAS,-666,2021-02-16T20:18:16.386,AT_O_20210216_000003,2021021600003,True
8690,8691,2021-02-16,4,1934363094110000,0,S00,empty~empty,2021-02-16T20:18:29.581,2021-02-16T20:18:29.581,0.0,azel_target,BIAS,-666,2021-02-16T20:18:29.411,AT_O_20210216_000004,2021021600004,True
8691,8692,2021-02-16,5,1934363223760000,0,S00,empty~empty,2021-02-16T20:18:42.546,2021-02-16T20:18:42.546,0.0,azel_target,BIAS,-666,2021-02-16T20:18:42.376,AT_O_20210216_000005,2021021600005,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12010,12011,2022-02-17,20,2250618288000000,0,S00,SDSSr~empty,2022-02-17T21:10:28.809,2022-02-17T21:10:28.809,0.0,FlatField position,BIAS,-666,2022-02-17T21:10:28.800,AT_O_20220217_000020,2022021700020,True
12011,12012,2022-02-17,21,2250618311780000,0,S00,SDSSr~empty,2022-02-17T21:10:31.347,2022-02-17T21:10:31.347,0.0,FlatField position,BIAS,-666,2022-02-17T21:10:31.178,AT_O_20220217_000021,2022021700021,True
12012,12013,2022-02-17,22,2250618337280000,0,S00,SDSSr~empty,2022-02-17T21:10:33.743,2022-02-17T21:10:33.743,0.0,FlatField position,BIAS,-666,2022-02-17T21:10:33.728,AT_O_20220217_000022,2022021700022,True
12013,12014,2022-02-17,23,2250618361150000,0,S00,SDSSr~empty,2022-02-17T21:10:36.278,2022-02-17T21:10:36.278,0.0,FlatField position,BIAS,-666,2022-02-17T21:10:36.115,AT_O_20220217_000023,2022021700023,True
12014,12015,2022-02-17,24,2250618386600000,0,S00,SDSSr~empty,2022-02-17T21:10:38.672,2022-02-17T21:10:38.672,0.0,FlatField position,BIAS,-666,2022-02-17T21:10:38.660,AT_O_20220217_000024,2022021700024,True

## List of dates where there are Flats

In [18]:
list_of_dates_flats = results_selected['dayObs'].unique() 
list_of_dates_flats

array(['2021-02-16', '2021-02-17', '2021-02-18', '2021-03-11',
       '2021-06-08', '2021-06-09', '2021-06-10', '2021-07-06',
       '2021-07-07', '2021-07-08', '2021-09-07', '2021-09-08',
       '2021-09-09', '2021-10-05', '2021-10-06', '2021-10-07',
       '2021-11-02', '2021-11-03', '2021-11-04', '2022-02-15',
       '2022-02-16', '2022-02-17'], dtype=object)

## Select a night

In [19]:
night_sel = list_of_dates_flats[-2]
night_sel

'2022-02-16'

In [20]:
cut = results_selected['dayObs'] == night_sel

In [21]:
df = results_selected[cut]

In [22]:
df

,id,dayObs,seqNum,visit,detector,detectorName,filter,dateObs,date,expTime,object,imageType,wavelength,expGroup,obsid,expId,selected
11218,11219,2022-02-16,1,2249695983910000,0,S00,empty~holo4_003,2022-02-16T19:33:18.572,2022-02-16T19:33:18.572,0.0,Park position,BIAS,-666,2022-02-16T19:33:18.391,AT_O_20220216_000001,2022021600001,True
11222,11223,2022-02-16,5,2249727472090000,0,S00,SDSSr~empty,2022-02-16T20:25:47.377,2022-02-16T20:25:47.377,0.0,FlatField position,BIAS,-666,2022-02-16T20:25:47.209,AT_O_20220216_000005,2022021600005,True
11223,11224,2022-02-16,6,2249727497600000,0,S00,SDSSr~empty,2022-02-16T20:25:49.768,2022-02-16T20:25:49.768,0.0,FlatField position,BIAS,-666,2022-02-16T20:25:49.760,AT_O_20220216_000006,2022021600006,True
11224,11225,2022-02-16,7,2249727521360000,0,S00,SDSSr~empty,2022-02-16T20:25:52.298,2022-02-16T20:25:52.298,0.0,FlatField position,BIAS,-666,2022-02-16T20:25:52.136,AT_O_20220216_000007,2022021600007,True
11225,11226,2022-02-16,8,2249727546790000,0,S00,SDSSr~empty,2022-02-16T20:25:54.694,2022-02-16T20:25:54.694,0.0,FlatField position,BIAS,-666,2022-02-16T20:25:54.679,AT_O_20220216_000008,2022021600008,True
11226,11227,2022-02-16,9,2249727570590000,0,S00,SDSSr~empty,2022-02-16T20:25:57.223,2022-02-16T20:25:57.223,0.0,FlatField position,BIAS,-666,2022-02-16T20:25:57.059,AT_O_20220216_000009,2022021600009,True
11227,11228,2022-02-16,10,2249727596300000,0,S00,SDSSr~empty,2022-02-16T20:25:59.639,2022-02-16T20:25:59.639,0.0,FlatField position,BIAS,-666,2022-02-16T20:25:59.630,AT_O_20220216_000010,2022021600010,True
11228,11229,2022-02-16,11,2249727620030000,0,S00,SDSSr~empty,2022-02-16T20:26:02.165,2022-02-16T20:26:02.165,0.0,FlatField position,BIAS,-666,2022-02-16T20:26:02.003,AT_O_20220216_000011,2022021600011,True
11229,11230,2022-02-16,12,2249727645460000,0,S00,SDSSr~empty,2022-02-16T20:26:04.559,2022-02-16T20:26:04.559,0.0,FlatField position,BIAS,-666,2022-02-16T20:26:04.546,AT_O_20220216_000012,2022021600012,True
11230,11231,2022-02-16,13,2249727669360000,0,S00,SDSSr~empty,2022-02-16T20:26:07.100,2022-02-16T20:26:07.100,0.0,FlatField position,BIAS,-666,2022-02-16T20:26:06.936,AT_O_20220216_000013,2022021600013,True
11231,11232,2022-02-16,14,2249727694830000,0,S00,SDSSr~empty,2022-02-16T20:26:09.493,2022-02-16T20:26:09.493,0.0,FlatField position,BIAS,-666,2022-02-16T20:26:09.483,AT_O_20220216_000014,2022021600014,True
11232,11233,2022-02-16,15,2249727718580000,0,S00,SDSSr~empty,2022-02-16T20:26:12.020,2022-02-16T20:26:12.020,0.0,FlatField position,BIAS,-666,2022-02-16T20:26:11.858,AT_O_20220216_000015,2022021600015,True
11233,11234,2022-02-16,16,2249727744020000,0,S00,SDSSr~empty,2022-02-16T20:26:14.418,2022-02-16T20:26:14.418,0.0,FlatField position,BIAS,-666,2022-02-16T20:26:14.402,AT_O_20220216_000016,2022021600016,True
11234,11235,2022-02-16,17,2249727767830000,0,S00,SDSSr~empty,2022-02-16T20:26:16.945,2022-02-16T20:26:16.945,0.0,FlatField position,BIAS,-666,2022-02-16T20:26:16.783,AT_O_20220216_000017,2022021600017,True
11235,11236,2022-02-16,18,2249727793270000,0,S00,SDSSr~empty,2022-02-16T20:26:19.339,2022-02-16T20:26:19.339,0.0,FlatField position,BIAS,-666,2022-02-16T20:26:19.327,AT_O_20220216_000018,2022021600018,True
11236,11237,2022-02-16,19,2249727817210000,0,S00,SDSSr~empty,2022-02-16T20:26:21.884,2022-02-16T20:26:21.884,0.0,FlatField position,BIAS,-666,2022-02-16T20:26:21.721,AT_O_20220216_000019,2022021600019,True
11237,11238,2022-02-16,20,2249727842640000,0,S00,SDSSr~empty,2022-02-16T20:26:24.280,2022-02-16T20:26:24.280,0.0,FlatField position,BIAS,-666,2022-02-16T20:26:24.264,AT_O_20220216_000020,2022021600020,True
11238,11239,2022-02-16,21,2249727866480000,0,S00,SDSSr~empty,2022-02-16T20:26:26.809,2022-02-16T20:26:26.809,0.0,FlatField position,BIAS,-666,2022-02-16T20:26:26.648,AT_O_20220216_000021,2022021600021,True
11239,11240,2022-02-16,22,2249727891990000,0,S00,SDSSr~empty,2022-02-16T20:26:29.209,2022-02-16T20:26:29.209,0.0,FlatField position,BIAS,-666,2022-02-16T20:26:29.199,AT_O_20220216_000022,2022021600022,True
11240,11241,2022-02-16,23,2249727915810000,0,S00,SDSSr~empty,2022-02-16T20:26:31.747,2022-02-16T20:26:31.747,0.0,FlatField position,BIAS,-666,2022-02-16T20:26:31.581,AT_O_20220216_000023,2022021600023,True
11241,11242,2022-02-16,24,2249727941290000,0,S00,SDSSr~empty,2022-02-16T20:26:34.143,2022-02-16T20:26:34.143,0.0,FlatField position,BIAS,-666,2022-02-16T20:26:34.129,AT_O_20220216_000024,2022021600024,True

## Different files

In [23]:
list_of_filters = df["filter"].unique()

## Prepare of output

In [24]:
df_sel = df[['dayObs', 'seqNum']]

In [25]:
df_sel

           dayObs  seqNum
11218  2022-02-16       1
11222  2022-02-16       5
11223  2022-02-16       6
11224  2022-02-16       7
11225  2022-02-16       8
11226  2022-02-16       9
11227  2022-02-16      10
11228  2022-02-16      11
11229  2022-02-16      12
11230  2022-02-16      13
11231  2022-02-16      14
11232  2022-02-16      15
11233  2022-02-16      16
11234  2022-02-16      17
11235  2022-02-16      18
11236  2022-02-16      19
11237  2022-02-16      20
11238  2022-02-16      21
11239  2022-02-16      22
11240  2022-02-16      23
11241  2022-02-16      24

## Make filelist

In [26]:
#"--id dayObs=\'2021-07-07\' seqNum=333"

In [27]:
df_sel['line'] = df_sel.apply(lambda row: "--id dayObs=\'" + row['dayObs'] +"\' seqNum="+ str(row['seqNum']),axis = 1)

/tmp/ipykernel_9883/3435436747.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sel['line'] = df_sel.apply(lambda row: "--id dayObs=\'" + row['dayObs'] +"\' seqNum="+ str(row['seqNum']),axis = 1)

In [28]:
df_sel

           dayObs  seqNum                                line
11218  2022-02-16       1   --id dayObs='2022-02-16' seqNum=1
11222  2022-02-16       5   --id dayObs='2022-02-16' seqNum=5
11223  2022-02-16       6   --id dayObs='2022-02-16' seqNum=6
11224  2022-02-16       7   --id dayObs='2022-02-16' seqNum=7
11225  2022-02-16       8   --id dayObs='2022-02-16' seqNum=8
11226  2022-02-16       9   --id dayObs='2022-02-16' seqNum=9
11227  2022-02-16      10  --id dayObs='2022-02-16' seqNum=10
11228  2022-02-16      11  --id dayObs='2022-02-16' seqNum=11
11229  2022-02-16      12  --id dayObs='2022-02-16' seqNum=12
11230  2022-02-16      13  --id dayObs='2022-02-16' seqNum=13
11231  2022-02-16      14  --id dayObs='2022-02-16' seqNum=14
11232  2022-02-16      15  --id dayObs='2022-02-16' seqNum=15
11233  2022-02-16      16  --id dayObs='2022-02-16' seqNum=16
11234  2022-02-16      17  --id dayObs='2022-02-16' seqNum=17
11235  2022-02-16      18  --id dayObs='2022-02-16' seqNum=18
11236  2022-02-16      19  --id dayObs='2022-02-16' seqNum=19
11237  2022-02-16      20  --id dayObs='2022-02-16' seqNum=20
11238  2022-02-16      21  --id dayObs='2022-02-16' seqNum=21
11239  2022-02-16      22  --id dayObs='2022-02-16' seqNum=22
11240  2022-02-16      23  --id dayObs='2022-02-16' seqNum=23
11241  2022-02-16      24  --id dayObs='2022-02-16' seqNum=24

## Output

In [29]:
filename_out = "visitbias_"+ night_sel+".list"

In [30]:
filename_out

'visitbias_2022-02-16.list'

In [31]:
df_out = df_sel[["line"]]

In [32]:
df_out

                                     line
11218   --id dayObs='2022-02-16' seqNum=1
11222   --id dayObs='2022-02-16' seqNum=5
11223   --id dayObs='2022-02-16' seqNum=6
11224   --id dayObs='2022-02-16' seqNum=7
11225   --id dayObs='2022-02-16' seqNum=8
11226   --id dayObs='2022-02-16' seqNum=9
11227  --id dayObs='2022-02-16' seqNum=10
11228  --id dayObs='2022-02-16' seqNum=11
11229  --id dayObs='2022-02-16' seqNum=12
11230  --id dayObs='2022-02-16' seqNum=13
11231  --id dayObs='2022-02-16' seqNum=14
11232  --id dayObs='2022-02-16' seqNum=15
11233  --id dayObs='2022-02-16' seqNum=16
11234  --id dayObs='2022-02-16' seqNum=17
11235  --id dayObs='2022-02-16' seqNum=18
11236  --id dayObs='2022-02-16' seqNum=19
11237  --id dayObs='2022-02-16' seqNum=20
11238  --id dayObs='2022-02-16' seqNum=21
11239  --id dayObs='2022-02-16' seqNum=22
11240  --id dayObs='2022-02-16' seqNum=23
11241  --id dayObs='2022-02-16' seqNum=24

In [33]:
df_out.to_csv(filename_out, index=False, header=None)

In [34]:
!cat $filename_out

--id dayObs='2022-02-16' seqNum=1
--id dayObs='2022-02-16' seqNum=5
--id dayObs='2022-02-16' seqNum=6
--id dayObs='2022-02-16' seqNum=7
--id dayObs='2022-02-16' seqNum=8
--id dayObs='2022-02-16' seqNum=9
--id dayObs='2022-02-16' seqNum=10
--id dayObs='2022-02-16' seqNum=11
--id dayObs='2022-02-16' seqNum=12
--id dayObs='2022-02-16' seqNum=13
--id dayObs='2022-02-16' seqNum=14
--id dayObs='2022-02-16' seqNum=15
--id dayObs='2022-02-16' seqNum=16
--id dayObs='2022-02-16' seqNum=17
--id dayObs='2022-02-16' seqNum=18
--id dayObs='2022-02-16' seqNum=19
--id dayObs='2022-02-16' seqNum=20
--id dayObs='2022-02-16' seqNum=21
--id dayObs='2022-02-16' seqNum=22
--id dayObs='2022-02-16' seqNum=23
--id dayObs='2022-02-16' seqNum=24